<div id="grass"></div>
<footer>
    <div class="container">
        <ul id="footer-menu">
            <li>
                <nav>
                    <h4>SU DI NOI</h4>
                    <a class="navigationHelp" href="#lavora-con-noi"> Salta il contenuto</a>
                    <ul class="footer-submenu">
                        <li><a href="chiSiamo.html"> Chi siamo</a></li>
                        <li><a href="eventi.html">I nostri eventi</a></li>
                        <li><a href="animali.html">I nostri animali</a></li>
                    </ul>
                </nav>
            </li>
            <li>    
                <nav id="lavora-con-noi">
                    <h4>VUOI LAVORARE CON NOI?</h4>
                    <a class="navigationHelp" href="#contattaci"> Salta il contenuto</a>
                    <ul class="footer-submenu">
                        <li><a href="lavoraConNoi.html#volontario"> Diventa un nostro volontario</a></li>
                        <li><a href="lavoraConNoi.html#sostenitore"> Diventa un nostro sostenitore</a></li>
                    </ul>
                </nav>
            </li>
            <li>
                <nav id="contattaci">
                    <h4>CONTATTACI</h4>
                    <a class="navigationHelp" href="#seguici-su"> Salta il contenuto</a>
                    <ul class="footer-submenu">
                        <li><a href="mailto:matchpet48@gmail.com" target="_blank">matchpet48@gmail.com</a></li>
                        <li><a href="tel:+390000000000"> +39 000 000 0000</a></li>
                    </ul>
                </nav>
            </li>
            <li>
                <nav id="seguici-su">
                    <h4>SEGUICI SU</h4>
                    <a class="navigationHelp" href="#lavora-con-noi"> Salta il contenuto</a>
                    <a href="./home" lang="en" aria-label="Vai alla home">
                        <img src="./assets/icons/logo.svg" id="logo" alt="">
                    </a>
                    <ul class="footer-submenu">
                        <li>
                            <a href="https://www.instagram.com/petmatch_shelter" target="_blank">
                                Instagram
                                <img src="./assets/icons/Instagram.svg" id="instagram" alt="">
                            </a>
                        </li>
                    </ul>
                </nav>
            </li>
        </ul>
    </div>
</footer>