<div id="grass"></div>
<footer>
    <div class="container">
        <ul id="footer-menu" aria-label="menù di fine pagina">
            <li aria-labelledby="su-di-noi-footer">
                <nav aria-labelledby="su-di-noi-footer">
                    <a class="navigationHelp" href="#lavora-con-noi" > Salta il contenuto</a>
                    <p aria-hidden="true" id="su-di-noi-footer">Su di noi</p>
                    <ul class="footer-submenu" aria-labelledby="su-di-noi-footer">
                        <li><a href="./chi-siamo"> Chi siamo</a></li>
                        <li><a href="./eventi">I nostri eventi</a></li>
                        <li><a href="./animali">I nostri animali</a></li>
                    </ul>
                </nav>
            </li>
            <li aria-labelledby="lavora-con-noi-footer">    
                <nav id="lavora-con-noi" tabindex="-1" aria-labelledby="lavora-con-noi-footer">
                    <a class="navigationHelp" href="#contattaci"> Salta il contenuto</a>
                    <p id="lavora-con-noi-footer" aria-hidden="true">Vuoi lavorare con noi?</p>
                    <ul class="footer-submenu">
                        <li><a href="./lavora-con-noi#inizio-volontari"> Diventa un nostro volontario</a></li>
                        <li><a href="./lavora-con-noi#inizio-sostenitore"> Diventa un nostro sostenitore</a></li>
                    </ul>
                </nav>
            </li>
            <li aria-labelledby="contattaci-footer">
                <nav id="contattaci" tabindex="-1" aria-labelledby="contattaci-footer">
                    <a class="navigationHelp" href="#seguici-su"> Salta il contenuto</a>
                    <p id="contattaci-footer" aria-hidden="true">Contattaci</p>
                    <ul class="footer-submenu">
                        <li><a href="mailto:matchpet48@gmail.com" target="_blank">matchpet48@gmail.com</a></li>
                        <li><a href="tel:+390000000000"> +39 000 000 0000</a></li>
                    </ul>
                </nav>
            </li>
            <li aria-labelledby="seguici-footer">
                <nav id="seguici-su" tabindex="-1" aria-labelledby="seguici-footer">
                    <a class="navigationHelp" href="#copyright"> Salta il contenuto</a>
                    <a href="./home" lang="en" aria-label="Vai alla home" >
                        <img src="./assets/icons/logo.svg" id="logo" alt="">
                    </a>
                    <p id="seguici-footer" aria-hidden="true">Seguici su</p>
                    <ul class="footer-submenu">
                        <li class="social-media-links">
                            <a href="https://www.instagram.com/petmatch_shelter" target="_blank" aria-label="Instagram">
                                <img src="./assets/icons/Instagram.svg" id="instagram" alt="">
                                @petmatch_shelter
                            </a>
                        </li>
                    </ul>
                </nav>
            </li>
        </ul>
    </div>
    <p id="copyright" tabindex="-1">
        <small >&copy; 2025 PetMatch. Diritti e illustrazioni riservate, giù le zampe!</small>
    </p>
</footer>