<!--TODO: renderla dinamica (fare una funzione in utils.php)-->
<button class="menu-toggle" id="mobile-menu" aria-label="Apri o chiudi menu di navigazione">
  ☰
</button>
<nav id="menu-admin" aria-label="Menù">
    <a class="navigationHelp" href="#content"> Salta il menù di navigazione</a>
    <a href="./home">
        <img src="./assets/icons/light-mode-logo.svg" id="logo" alt="Home" lang="en" />
    </a>
    <ul>
        <li id="currentLink"><a href="./">Lavora con Noi</a></li>
        <li><a href="./richieste-adozione">RICHIESTE DI ADOZIONE</a></li>
        <li><a href="./eventi">EVENTI</a></li>
        <li><a href="./tuoi-animali">ASSEGNATI A TE</a></li>
        <!-- TODO scegliere nomi migliori -->
        <li><a href="./animali-senza-amministratore">SENZA AMMINISTRATORE</a></li>
        <li><a href="./adottati">ADOTTATI</a></li>
        <li><a href="./nuove-accoglienze">NUOVE ACCOGLIENZE</a></li>
    </ul>
    <a id="logout" class="orange-button" href="./home">← logout</a>
</nav>
