<!--TODO: renderla dinamica (fare una funzione in utils.php)-->
<button class="menu-toggle" id="mobile-menu" aria-label="Apri o chiudi menu di navigazione">
    ☰
</button>
<header>
    <div class="container">
        <ul id="header-menu">
            <li>
                <nav id="menu" aria-label="Menù">
                    <a class="navigationHelp" href="#content"> Salta il menù di navigazione</a>
                    <ul id = "header-logo">
                        <li>
                            <h1>
                                <a href="./home">
                                    <img src="./assets/icons/logo.svg" id="logo" alt="Home" lang="en">
                                    <span id="Pet">Pet</span><span>Match</span>
                                </a>
                            </h1>
                        </li>
                    </ul>
                </nav>
            </li>
            <li>
                <nav>
                    <ul id="osso">
                        <li><a href="./animali">Animali</a></li>
                        <li><a href="./eventi">Eventi</a></li>
                        <li><a href="./come-funziona">Come funziona</a></li>
                        <li><a href="./chi-siamo">Chi siamo</a></li>
                        <li><a href="./lavora-con-noi">Lavora con noi</a></li>
                    </ul>
                </nav>
            </li>
            <li>
                <nav>
                    <ul id = "tema-preferiti-profilo">
                        <li>
                            <label id="theme-switch">
                                <input type="checkbox" id="theme-toggle">
                                <span id = "slider">
                                    <img src = "./assets/icons/sun.svg" id ="sun" alt = "modalità giorno"/>
                                    <img src = "./assets/icons/moon.svg" id ="moon"  alt = "modalità notte"/>                                
                                </span>
                            </label>
                        </li>
                        <li><a href="./preferiti"><img src="./assets/icons/preferiti.svg" id="preferiti" alt="preferiti" /></a>
                        </li>
                        <li><a class = "orange-button" href="./accedi">Accedi</a></li>
                    </ul>
                </nav>
            </li>
        </ul>
    </div>
</header>