<!DOCTYPE html>
<html lang="it">

<head>
    [title]
    <meta charset="utf-8">
    [description]
    [keywords]
    <meta name="author" content="Angela Canazza, Angela Favaro, Laura Venturini, Daniela Erba, Linor Sadè">
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <link rel="stylesheet" href="./src/css/style.css" media="screen">
    <link rel="stylesheet" href="./src/css/break1200.css" media="screen and (max-width:1200px)">
    <link rel="stylesheet" href="./src/css/break850.css" media="screen and (max-width:850px)">
    <link rel="stylesheet" href="./src/css/mini.css" media="screen and (max-width:800px)">
    <link rel="stylesheet" href="./src/css/print.css" media="print">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
    <script src="./src/js/script.js" defer></script>
</head>

<body>
    [nav]
    [breadcrumb]
    [main]
    [footer]
</body>

</html>