/* ---------GENERALE PER LA STAMPA ADMIN-------- */

*{
    padding:0em;
    margin:0em;
}

html, body{
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}
h1{
    margin-bottom: 0.5cm;
}

article{
    margin-bottom: 1cm;
}

a:not(#logo-link):not(.pencil)::after {
    content: "   ["attr(href)"]";
    height: 3cm;
    /* color: #555; */
    margin-left: 0.4em;
}

img{
    height: 3cm;
}

a.pencil img{
    display: none;
}

dt::after {
    content: ":";
}

dt{
    font-weight: bold;
    float: left;
    margin-right: 0.2cm;
}
/* ========== SCREEN READER ========== */
.navigationHelp{
    display: none;
}
/* ========== BREADCRUMB ========== */
nav#breadcrumb{
    margin-bottom: 1cm;
}
/* ========== NAV ADMIN ========== */

nav#menu-admin #logo {
    display: block;
    content: url("../../assets/icons/print-logo.svg"); /*perche la stampa toglie tutti i background quindi lo mettiamo come contnuto*/
    height: 7em;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1em auto;
}

nav#menu-admin ul, nav#menu-admin button, nav#menu-admin span{
    display: none;

}



/** ======= AREA PERSONALE ====== */

div.generic-info-container {
    display: flex;
    gap: 1em;
}

ul#to-do-list p, ul#statistics-list p {
    float: left;
    margin-left: 0.5cm;
}


