/* ---------GENERALE PER LA STAMPA ADMIN-------- */

*{
    padding:0em;
    margin:0em;
}

html, body{
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}
h1{
    margin-bottom: 0.5cm;
}

article{
    margin-bottom: 1cm;
}

a:not(#logo-link):not(.pencil)::after {
    content: "   ["attr(href)"]";
    height: 3cm;
    /* color: #555; */
    margin-left: 0.4em;
}

img{
    height: 3cm;
}

a.pencil img{
    display: none;
}

dt::after {
    content: ":";
}

dt{
    font-weight: bold;
    float: left;
    margin-right: 0.2cm;
}
/* ========== TABS ========== */
select#mobile-select, label[for*="tab"], input[id*="tab"]{
    display: none;
}
div.tabs-container .tab-content{
    display: block;
}
/* ========== TABELLE ========== */
caption{
    margin-bottom: 0.5cm;
    font-weight: bold;
    font-size: larger;
}

/* metto i bordi alle tabelle */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.2cm;
}

/* ========== FILTRI========== */
/* voglio non rendere visibili tutti i form.filtri ma aggiungere cosa è stato selezionato nel testo */
/* es di form:
    <input type="hidden" name="stato" value="In valutazione">
                <ul aria-label="Filtri di ricerca">
                    <li class="capsula-filtro" role="presentation">
                        <label for="filtro-appunti">Appunti</label>
                        <select name="appunti" id="filtro-appunti">
                            <option value="" selected>Tutti</option>
                            <option value="1" >Sì</option>
                            <option value="0" >No</option>
                        </select>
                    </li>
                </ul>
                <button type="submit" class="orange-button">Applica</button>
            </form>
 */
/* form.filtri{
    display: 
} */

form.filtri select {
        appearance: none; /* Toglie la freccetta standard */
        -webkit-appearance: none;
        border: none;
        background: transparent;
        font-weight: bold;
        font-size: 12pt;
        color: black;
        padding: 0;
        width: auto;
    }

    /* 4. Aggiungi un testo prima del valore selezionato */
    form.filtri li.capsula-filtro::before {
        content: "Filtro Appunti: ";
        font-weight: normal;
    }

    /* 5. Togli i pallini della lista e metti tutto in riga */
    form.filtri ul {
        list-style: none;
        padding: 0;
        display: inline;
    }

    form.filtri li {
        display: inline;
        margin-right: 15px;
    }

    form.filtri button {
        display: none; /* Nascondi il pulsante di invio */
    }

/* ========== SCREEN READER ========== */
.navigationHelp{
    display: none;
}
/* ========== BREADCRUMB ========== */
nav#breadcrumb{
    margin-bottom: 1cm;
}
/* ========== NAV ADMIN ========== */

nav#menu-admin #logo {
    display: block;
    content: url("../../assets/icons/print-logo.svg"); /*perche la stampa toglie tutti i background quindi lo mettiamo come contnuto*/
    height: 7em;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1em auto;
}

nav#menu-admin ul, nav#menu-admin button, nav#menu-admin span{
    display: none;

}



/** ======= AREA PERSONALE ====== */

div.generic-info-container {
    display: flex;
    gap: 1em;
}

ul#to-do-list p, ul#statistics-list p {
    float: left;
    margin-left: 0.5cm;
}


