/* ================== HOME ==================*/

#paw-1, #paw-2, #paw-3, #paw-4 {
    display: none;
}

#introduction-home .column-user + .column-user{
    padding-bottom: 0;
}

#cat-decorator{
    padding-left: 2em;
}

#sponsor{
    background-size:0;
    background-color: var(--buttoncolor);
    padding:1em;
    position: relative;
}

#sponsor::before,
#sponsor::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, var(--headercolor) 50%, transparent 50%);
    background-size: 40px 100%;
}

#sponsor::before{
    top: 1.5em; 
    left:0;
}

#sponsor::after{
    bottom: 1.5em; 
    left:0;
}

#sponsor img,
#sponsor img:nth-child(3),
#sponsor img:nth-child(4)
{
    margin:0;
}

#section-sponsor + .container a{
    margin-top:-2em;
}




/* ================== TABELLE MINI ================== */

/* non in mini perchè le tabelle non si vedono bene */

#admin-area .tabs-container#richieste .tab-content{
    margin:auto;
}

div#admin-area table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

div#admin-area table, div#admin-area tbody,div#admin-area tr {
	border:none;
    border-radius: 0;
}

div#admin-area td,div#admin-area th {
	border-top:none;
}


div#admin-area th{
	background-color: var(--darkbgcolor);
}

div#admin-area thead {
	display: none;
}

div#admin-area tfoot th{
	display:none;
}

div#admin-area tfoot td{
    padding:0.5em 1em;
    float: left;
}

div#admin-area tr, div#admin-area th, div#admin-area td {
    display: block;
}

div#admin-area tbody td {
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word; 
    padding: 0.3em 0.2em 0.2em 0.2em;
    border-bottom: 1px solid var(--borderTable);
}
div#admin-area tbody td, div#admin-area tbody th {
    padding: 0.2em 1em;
    text-align: left;
    border-bottom: 1px solid var(--darkbgcolor);
}
#richieste .capsula-filtro select#filtro-appunti{
    padding-right: 2em;
}

#richieste .capsula-filtro{
    margin:auto;
}

tbody th{
    padding: 0.3em;
    border: none;
}

/* mette il th del thead nelle celle che descrivono quel contenuto*/

th[data-title]:before, td[data-title]:not(.presAss):before {
    content: attr(data-title) ":\00A0";
    font-weight: bold;
}

thead + tbody tr td.col-dettagli{
    padding: 0;
}

tbody tr:last-child th, tbody tr:last-child td {
    padding: 0.2em 1em;
    border-bottom: 1px solid var(--darkbgcolor);
}

td.col-dettagli a,td.col-dettagli button{
    margin: 0.5em 0em 0.5em auto;
}

/* select per la mobile */
#mobile-select{
    display: block;
    width: 100%;
    height: 50px;
    background-color: var(--buttoncolor);
    text-align: center;
    margin: auto;
    border-radius: 2em;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    border:1px solid var(--buttoncolor);
    color:var(--text-form);
}

#animali #mobile-select{
    margin-bottom: 1em;
}

#mobile-select option{
    background-color: var(--form-bg);
}

#animali .filtri, #eventi .filtri, #richieste .filtri{
    flex-wrap: wrap;
}


/* per i tab: questa regola serve perchè altrimenti si vedono anche gli article che sono stati selezionati con i radio button (schermo più grande) */
/* per l'input: gli input a vista non si vedono ma hanno sr-only, devono proprio sparire e quindi è necessaria questa regola */
/* per le label: altrimenti si vedono le tabs */
.tabs-container input, .tabs-container#richieste label,.tabs-container#animali label,
.tabs-container#richieste #tab1:checked  ~ .tab-content:nth-of-type(1),
.tabs-container#richieste #tab2:checked  ~ .tab-content:nth-of-type(2), 
.tabs-container#richieste #tab3:checked  ~ .tab-content:nth-of-type(3),
.tabs-container#richieste #tab4:checked  ~ .tab-content:nth-of-type(4),
.tabs-container#richieste #tab5:checked  ~ .tab-content:nth-of-type(5),
.tabs-container#animali #tab1:checked  ~ .tab-content:nth-of-type(1),
.tabs-container#animali #tab2:checked  ~ .tab-content:nth-of-type(2){
    display: none;
}

.tabs-container#animali .filtri label,.tabs-container#richieste .filtri label{
    display: block;
}

#richieste:has(#mobile-select option[value="tab1"]:checked)  .tab-content.tab1,
#richieste:has(#mobile-select option[value="tab2"]:checked) .tab-content.tab2,
#richieste:has(#mobile-select option[value="tab3"]:checked) .tab-content.tab3,
#richieste:has(#mobile-select option[value="tab4"]:checked) .tab-content.tab4,
#richieste:has(#mobile-select option[value="tab5"]:checked) .tab-content.tab5,
#animali:has(#mobile-select option[value="tab1"]:checked)  .tab-content.tab1,
#animali:has(#mobile-select option[value="tab2"]:checked) .tab-content.tab2{
    display: block;
    margin:0 auto;
}




/* ================== LOGIN ==================*/
#container-image-login{
    display: none;
}

#login .container .column-container{
    width: 70%;

}

/* ==========PAGINA COME FUNZIONA ============== */

#come-funziona #comeSiAdotta {
    margin-top: 2.5em;
}
#come-funziona #comeSiAdotta #paws-containter img {
    display: none;
}
/* ==========INFORMAZIONI ANIMALE============== */
#dettaglio-animale .generic-info-container .text-details{
    width: 100%;
    column-count: 2;
}

#dettaglio-animale .action-buttons-group{
    display: block;
    margin-top: 1em;
}

#dettaglio-animale .action-buttons-group .text-details{
    margin-left: 0;
}

#dettaglio-animale .generic-info-container img.square-foto{
    margin: auto;
    display: block;
    margin-bottom: 1em;
}

#visualizzazione-evento .collaboratori#altri-eventi {
    flex: none;
    width: 100%;
}

#eventi .cards-container li, #visualizzazione-evento .cards-container li{
    max-width: 100%;
}