/*          PAGINA EVENTI            */
#eventi .cards-container {
    display: flex;
    flex-direction: column;
}

#eventi .evento {
    width: 100%;
}

#eventi .cards-container li {
    width: 100%;
}

#eventi .evento .descrizione-evento {
    max-width: 60em;
}

/* ===========PAGINA COME FUNZIONA ============= */
#come-funziona #comeSiAdotta #paws-containter #paw3 {
    display: none;
}

#come-funziona #comeSiAdotta #paws-containter #paw4 {
    display: none;
}