#paw-1, #paw-2, #paw-3, #paw-4 {
    display: none;
}

#introduction-home .column-user + .column-user{
    padding-bottom: 0;
}

#cat-decorator{
    padding-left: 2em;
}

#sponsor{
    background-size:0;
    background-color: var(--buttoncolor);
    padding:1em;
    position: relative;
}

#sponsor::before,
#sponsor::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, var(--headercolor) 50%, transparent 50%);
    background-size: 40px 100%;
}

#sponsor::before{
    top: 1.5em; 
    left:0;
}

#sponsor::after{
    bottom: 1.5em; 
    left:0;
}

#sponsor img,
#sponsor img:nth-child(3),
#sponsor img:nth-child(4)
{
    margin:0;
}

#section-sponsor + .container a{
    margin-top:-2em;
}




/* ================== TABELLE MINI ================== */

/* non in mini perchè le tabelle non si vedono bene */




table, tbody, tr {
	border:none;
    border-radius: 0;
}

td,th {
	border-top:none;
}


th{
	background-color: var(--darkbgcolor);
}

thead {
	display: none;
}

tfoot th{
	display:none;
}

tr, th, td {
    display: block;
}

tbody td{
    width: 70%;
    white-space: normal; /* permette il wrapping automatico */
    padding: 0em 1em;
    overflow-wrap: break-word;
}
tbody th{
    padding: 0em 1em;
}

/* mette il th del thead nelle celle che descrivono quel contenuto*/
/* cambio mettendo anche il titolo nella  */
th[data-title]:before, td[data-title]:not(.presAss):before {
    content: attr(data-title) ":\00A0";
    font-weight: bold;
}



td.col-dettagli a{
    margin: 0.5em 0.5em 0.5em auto;
}

/* select per la mobile */
#mobile-select{
    display: block;
    width: 100%;
    height: 50px;
    background-color: var(--buttoncolor);
    text-align: center;
    margin: auto;
    border-radius: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}



.tabs-container input, .tabs-container#richieste label,
.tabs-container#richieste #tab1:checked  ~ .tab-content:nth-of-type(1),
.tabs-container#richieste #tab2:checked  ~ .tab-content:nth-of-type(2), 
.tabs-container#richieste #tab3:checked  ~ .tab-content:nth-of-type(3),
.tabs-container#richieste #tab4:checked  ~ .tab-content:nth-of-type(4),
.tabs-container#richieste #tab5:checked  ~ .tab-content:nth-of-type(5){
    display: none;
}

#richieste:has(#mobile-select option[value="tab1"]:checked)  .tab-content.tab1,
#richieste:has(#mobile-select option[value="tab2"]:checked) .tab-content.tab2,
#richieste:has(#mobile-select option[value="tab3"]:checked) .tab-content.tab3,
#richieste:has(#mobile-select option[value="tab4"]:checked) .tab-content.tab4,
#richieste:has(#mobile-select option[value="tab5"]:checked) .tab-content.tab5 {
    display: block;
}
/* per i tab: questa regola serve perchè altrimenti si vedono anche gli article che sono stati selezionati con i radio button (schermo più grande) */
/* per l'input: gli input a vista non si vedono ma hanno sr-only, devono proprio sparire e quindi è necessaria questa regola */
/* per le label: altrimenti si vedono le tabs */



/* ================== LOGIN ==================*/
#container-image-login{
    display: none;
}

#login .container .column-container{
    width: 70%;

}
