/*          PAGINA EVENTI            */
#eventi .cards-container {
    display: flex;
    flex-direction: column;
}

#eventi .evento {
    width: 100%;
}

#eventi .cards-container li {
    width: 100%;
}

#eventi .evento .descrizione-evento {
    max-width: 60em;
}
/* VISUALIZZAZIONE ANIMALE */
#richiesta-adozione-img {
    display: none;
}
#richiesta-adozione .column-user {

flex: 1 1 100%; }

/* ===========PAGINA COME FUNZIONA ============= */
#come-funziona #comeSiAdotta #paws-containter #paw3 {
    display: none;
}

#come-funziona #comeSiAdotta #paws-containter #paw4 {
    display: none;
}
/* ==================HOME==================*/


#section-events img.polaroid,
#events-list .polaroid:last-child{
    display: none;
}

#section-events p{
    display: block;
    margin:1em 0 1em 0;
    width: 100%;
}

#events-list .polaroid:first-child,
#events-list .polaroid:nth-child(3)
{
    margin-top: -2%;
}

#events-list .polaroid:nth-child(2){
    transform: rotate(0deg);
}

#events-list .polaroid:nth-child(3){
    transform: rotate(-10deg);
}
