/*          PAGINA EVENTI            */
#eventi .cards-container {
    display: flex;
    flex-direction: column;
}

#eventi .evento {
    width: 100%;
}

#eventi .cards-container li {
    width: 100%;
}

#eventi .evento .descrizione-evento {
    max-width: 60em;
}
/* VISUALIZZAZIONE ANIMALE */
#richiesta-adozione-img {
    display: none;
}
#richiesta-adozione .column-user {

flex: 1 1 100%; }
