/* ==================NAV==================*/
#text-accedi{
    display: none;
}

#header-actions .white-button img{
    display: block;
} 

#header-actions .white-button{
    width: 32px;
    height: 32px;
    position: relative;
    background-color: transparent;
}
#header-actions .white-button img {
    width: 100%;
    transition: opacity 0.3s;
}

#account-normal{
    position: absolute;
    top: 0; left: 0;
}

#account-hover {
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
}
#header-actions .white-button:hover #account-normal { opacity: 0; }
#header-actions .white-button:hover #account-hover { opacity: 1; }


#theme-switch {
    width: 32px;
    height: 32px;
}

#slider {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--bgcolor);
    border-radius: 50%;
    transition: 0.4s;
    box-shadow: none;
}

#slider img{
    width: 90%;
    left: 0.2em;
    right: 0;
}

#slider::before {
    content: none;
    display: none;
}

/* ==================HOME==================*/

#events-list::before{
    top:-20%;
}

#events-list{
    margin-top: 8%;
}

#events-list .polaroid p{
    margin:0 auto; 
}

#timeline::before {
    top: 0em; 
    bottom: 4.5em; 
    margin:auto;
    width: 2px;
    height: auto;
    max-height: 550px;
    background-image: linear-gradient(to top, var(--buttoncolor) 50%, transparent 50%);
    background-size: 100% 20px;
}

.number::after {
    top:0.8em;
}

details[open] .number::after {
    top: 1em;
}

#timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
    padding: 0;
}

#timeline::before {
    max-height: none; 
}

#timeline li {
    width: 90%;   
    margin: 0 0 3em 0;
}

#timeline details, 
.number {
    width: 100%;
    margin: 0 ;   
    top: 0 ;      
    left: 0 ;
    text-align: center;     
    position: static; 
    justify-content: center;
    background-color: var(--footercolor);
}
    
.number {
    margin-top:0.5em;
    font-size: 1.3em; 
}

.popup {
    position: relative ;
    top:0;
    left:0;
    margin:auto;
    transform: none ;
    opacity: 1;
    visibility: visible ;
    pointer-events: auto;
    max-width:none ;
    border-radius: 10px;
}

.popup img{
    max-height: 100px;
    width: auto;
    display: block;
    margin:auto;
}

.popup::before {
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px;
}
              
#timeline details[open] .popup{
    margin-top:1.3em;
}

#section-events img.polaroid,
#events-list .polaroid:last-child{
    display: none;
}

#section-events p{
    display: block;
    margin:1em 0 1em 0;
    width: 100%;
}

#events-list .polaroid:first-child,
#events-list .polaroid:nth-child(3)
{
    margin-top: -2%;
}

#events-list .polaroid:nth-child(2){
    transform: rotate(0deg);
}

#events-list .polaroid:nth-child(3){
    transform: rotate(-10deg);
}


#form-affidamento {
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    margin:2em 2em 0.1em 2em;
    padding: 0em 2em;
    flex: 1 0 40%;
    border-radius: 2.1em;
}

#container-form-affidamento{
    padding: 0;
    background-image: none;
    overflow:hidden;
}

/* ==================ANIMALI==================*/

#animali .filtri .capsula-filtro{
    width: 100%;
    max-width: none;
    justify-content: left;
}

#animali .filtri #searchSex.capsula-filtro,
#animali .filtri #searchSize.capsula-filtro{
    width: 49.4%;
}

#animali .filtri .capsula-filtro .eta-range{
    margin:auto;
    padding-right: 2em;
}

#animali .filtri #searchName.capsula-filtro {
    width: 100%;
}

#animali .filtri {
    display: flex;
    flex-direction: column;  /* mette tutto in colonna */
    gap: 1em;              /* spazio tra righe */
    align-items: center;     /* centra tutto orizzontalmente */
}

#animali .filtri ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0.5em;
    justify-content: flex-start; /* centra le capsule nella riga */
}


#cancel-filter-visible{
    border-radius: 1em;
    flex: 0 0 28%;
    padding:6px 12px;
}

#animali #content-filter-button{
    width: 100%;
    flex: 1 1 100%;
    gap:2%;
}

#animali #content-filter-button a{
    width: 100%;
}

#animali #content-filter-button button{
    flex: 0 0 48%;
    width: 100%;
}

#animali .is-favorite img,
#animali .not-favorite img {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    transition: none;
}

#animali .card .nome{
    padding:0.8em 1.5em 0 0.5em;
    margin:0 0 0.5em 0;
    font-size: 1em;
}

#animali .card .sesso-etaMob{
    padding:0 0 0 0.5em;
    display: inline;
}

#animali .card .sesso-etaMob abbr{
    text-decoration: none;
    border-bottom: none;
    cursor: inherit;
}

#animali .card .sesso-etaDesk{
    display: none;
}

#animali li.card {
    cursor: pointer;
    width: 9em;
    height: 15em;
    margin: 0.5em;
    overflow: hidden;
    
}

#animali li.card article {
    width: 9em;
    height: 15em;
    overflow: hidden;
    margin:auto;
}

/* ==================LAVORA CON NOI==================*/

#contatto-sostenitore {
    margin-bottom:0em;
}

/*                        EVENTI                     */

#eventi .cards-container {
    display: flex;
    flex-direction: column;
}

#eventi .evento {
    width: 100%;
}

#eventi .cards-container li {
    width: 100%;
}

#eventi .evento .descrizione-evento {
    max-width: 60em;
}

#eventi .filtri {
    display:flex;
    align-items: center;
    /* flex-direction: column; */
}

#eventi .filtri ul {
    display: contents;
    /* flex-wrap: nowrap; */
}

#eventi .filtri .orange-button {
    text-align: center;
}

#eventi .filtri #content-filter-button {
    display: flex;
    flex-grow: 1;
    margin: 0.5em;
}