nav#menu-admin {
    padding-top:0em;
    float: none;
    width: 100%;
    position: relative;
    left: 0;
    max-height: 0;
    overflow: hidden;
    background-color: transparent; 
    transition: max-height 0.3s ease, background-color 0.3s ease;
    z-index: 1000;
    visibility: hidden;
}

#menu-admin.active {
    max-height: 100vh;
    background-color: var(--footercolor); /*così lo sfondo appare solo quando apri il menu */
    visibility: visible;
}

body#admin-body main {
    margin-left: 0;
    transition: margin-top 0.3s ease;
}

.menu-toggle {
    display: block;
    font-size: 3em;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5em 1em 0em 1em;
}


nav#menu-admin img {
    width: 20em;
    max-width: 100%;
    height: auto;
}