nav#menu-admin {
    padding-top:0em;
    float: none;
    width: 100%;
    position: relative;
    left: 0;
    max-height: 0;
    overflow: hidden;
    background-color: transparent; 
    /* transition: max-height 0.3s ease, background-color 0.3s ease; */
    z-index: 1000;
    visibility: hidden;
}

#menu-admin.active {
    max-height: 100vh;
    background-color: var(--footercolor); /*così lo sfondo appare solo quando apri il menu */
    visibility: visible;
}

body#admin-body main {
    margin-left: 0;
    /* transition: margin-top 0.3s ease; */
}

.menu-toggle {
    display: block;
    font-size: 3em;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5em 1em 0em 1em;
}


nav#menu-admin img {
    width: 20em;
    max-width: 100%;
    height: auto;
}


/* ==================LAVORA CON NOI ================== */


body#lavora-con-noi {
    margin: 0;
    overflow-x: hidden;
}

#introduction-lavora-con-noi .container {
    display: block;   
    gap: 0;
}

#introduction-lavora-con-noi .column-user {
    flex: unset;
    width: 100%;
    margin-bottom: 2em; 
}

#introduction-lavora-con-noi h1 {
    margin-bottom: 0.5em;
    font-size: 1.8em;
}

.underline {
    text-decoration: underline;
}

#come-diventare-volontario {
    background-color: var(--greencolor); 
    color: var(--bgcolor);                       
    width: 100%;
    padding: 5em;
}

#come-diventare-volontario h2 {
    margin-bottom: 1em;
    font-size: 1.8em;
}

.volontari-layout {
    display: block;  
    gap: 0;
}

.volontari-text {
    flex: unset;
    width: 100%;
}

.volontari-image {
    display: none;  
}

#come-diventare-sostenitore {
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 5em;
    background-color: var(--footercolor); 
    color: var(--bgcolor);        
    border-top-right-radius: 5em;
    border-top-left-radius: 5em;     
    padding: 5em;
}

#come-diventare-sostenitore h1 {
    margin-bottom: 1em;
    font-size: 2.1em;
}

.sostenitori-layout {
    display: block;  
    gap: 0;
}

.sostenitori-text {
    flex: unset;
    width: 100%;  
}

.sostenitori-image {
    display: none;  
}

#contatto-sostenitore {
    padding: 5em;
}

#contatto-sostenitore a {
    color: var(--txtcolor);
    text-decoration: underline;
}