* {
	padding: 0em;
	margin: 0em;
    box-sizing: border-box;
}

:root{
    --bgcolor: #FFF6D7;
    --txtcolor: #481515;
    --buttoncolor: #EA654C;
    --buttoncolor-hover: #481515;
    --linkcolor:#FFF6D7;
    --footercolor: #481515;
    --visitedcolor: #EA654C;
    --headercolor: #481515;
    --headervisitedlink: #6D7541;
    --headerlink: #481515;
}

a{
    color: var(--linkcolor);
}

a:visited{
    color: var(--visitedcolor);
}

.container{
    max-width: 1200px;
    /* max-height: 100%; */
    margin: auto;
}

html{
    font-size: 100%;
    line-height: 1.5em;
    font-family: "Parkinsans", Roboto, sans-serif;
    background-color: var(--bgcolor);
    color: var(--txtcolor);
}
/* se troppo grandi per altre pagine allora avvisate linor prima di trovare altre soluzioni */
h1{
    font-size: 2em; 
    /* font-size: 2.7em;  */
    line-height: normal;
}
h2{
    font-size: 1.8em; 
    /* font-size: 2.3em;  */
    line-height: 1.3;
}
h3{
    font-size: 1.3em;
    /* line-height: 1.3; */
}

h4{
    font-size: 1.1em;
    /* line-height: 1.3; */
}


/*==================PULSANTI==================*/
a.orange-button{
    display: block;
    text-align: center;
    margin: auto;
    width: fit-content;
    background-color: var(--buttoncolor);
    color: var(--txtcolor);
    padding: 0.7em 1.5em;
    border-radius: 2em;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.4s ease;
}

.orange-button:hover {
    background-color: var(--buttoncolor-hover); 
    color: var(--linkcolor);
}

/*==================ERRORE 404==================*/


/* Stile per allineare l'immagine ai numeri */
#error-title {
    margin-top: 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14rem;
    line-height: 0em;

}

#error-info{
    margin: 2em auto;
    width: 35%;
}

#error-message{
    margin: 2em auto;
    text-align: left;
    width: fit-content;
}

#error-message > h2,h3 {
  margin-bottom: 0.5em;
}

#error-message > h3 {
    font-weight: 550;
}

/* Il contenitore deve stare in linea con i numeri 4 */
.image-container {
    position: relative;
    display: inline-flex;
    align-items: center;
}

#zero-image {
    height: 0.9em;
    width: auto;
    margin: 0 0.1em;
}

#zzz {
    position: absolute;
    top: -0.2em;
    right: -0.3em;
    font-size: 0.3em;
    letter-spacing: 0.1em;
    transform: rotate(5deg);
}

@keyframes sleep {
    0%, 100% { opacity: 0.5; transform: rotate(5deg) scale(0.9); }
    50% { opacity: 1; transform: rotate(5deg) scale(1.1); }
}

#zzz {
    animation: sleep 4s infinite ease-in-out;
}
/* ==================SOLO PER SCREEN READER================== */

/* Gli elementi con questa classe sono visibili solo agli screen reader */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

/* ==================HEADER================== */
header{
    background-color: var(--headercolor);
    margin: auto;
}

header h1 span{
    font-size: 0.9em;
    font-weight:initial;
    color: var(--linkcolor);
}

#Pet{
    font-weight: 800;
}

header h1{
    text-align: center;
}

#header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    
    max-width: 1200px;      
    width: 100%;            
    margin: 0 auto;        
    
    padding: 1em 2em;       
    box-sizing: border-box;
}

#header-menu > li {
    display: flex;
    align-items: center;
    flex: 1 ;
}

#header-menu > li:first-child {
    justify-content: flex-start;
    flex: 0.5;
}

#header-menu > li:nth-child(2) {
    justify-content: center;
    flex: 3;
}

#header-menu > li:last-child {
    justify-content: flex-end; 
}

#header-menu a{
    text-decoration: none;
}

#preferiti{
    display: block;
    text-align: center;
    margin: auto;
    width: fit-content;
    padding: 0em 1.5em;
    font-weight: 600;
}

#osso, 
#tema-preferiti-profilo {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center; 
}

#osso li,
#tema-preferiti-profilo li {
    padding: 0;
}

/* ==================OSSO================== */

#osso{
    background-color: var(--bgcolor);
    padding: 0.5em 2em;
    position: relative;
    gap: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

#osso a{
    color: var(--headerlink);
}

#osso a:visited{
    color: var(--headervisitedlink);
}

#osso a:hover{
    text-decoration: underline;
}

#osso::before,
#osso::after {
  content: "";
  position: absolute;
  width: 6%;
  height: 80%;
  border-radius: 50%;
  background-color: var(--bgcolor);
  top: -0.6em; 
  box-shadow: 0 1.7em 0 var(--bgcolor);
}

#osso::before {
  left: -1em; 
}

#osso::after {
  right: -1em; 
}

/* ==================THEME-CHANGE================== */

#theme-switch {
    display: inline-block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
}

#theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#slider {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--buttoncolor);
    border: 2px solid var(--buttoncolor);
    border-radius: 5em;
    transition: 0.4s;
    box-shadow: inset 10px 10px 30px 5px rgba(0.5,0.5,0.5,0.5);
}

#slider::before {
    content: "";
    position: absolute;
    height: 1.9em;
    width: 1.9em;
    bottom: -0.1em;
    left: -0.1em;
    background-color: var(--buttoncolor);
    border: 2px solid var(--buttoncolor);
    box-sizing: border-box;
    border-radius: 5em;
    transition: 0.4s;
    z-index: 2;
}

#sun, #moon{
    position: absolute;
    top: 0.25em;
    transition: 0.4s;
    z-index: 3; 
}

#sun {
    left: 0.15em;
    opacity: 1;
}

#moon {
    right: 0.3em;
    opacity: 0; 
}

/* Cambia colore sfondo quando si clicca*/
input:checked + #slider,
input:checked + #slider::before
{
    background-color: var(--bgcolor);
    border: 2px solid var(--bgcolor);
}

/* Muovi il pallino a destra */
input:checked + #slider::before {
    transform: translateX(2em);
}

/* Scambio icone */
input:checked + #slider #sun {
    opacity: 0;
}

input:checked + #slider #moon {
    opacity: 1;
}

/* ==================FOOTER================== */
#footer-menu {
    margin: 0 -10px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 2em 0em 2em 2em;
}

footer {
    background-color: var(--footercolor);
    color: var(--bgcolor);
}
#footer-menu > li{
    padding: 0.2em;
    flex: 1 1 250px;
}
footer h4 {
    margin-bottom: 0.5em;
}
.footer-submenu li {
    list-style: none;
    margin-bottom:0.1em;
}
#grass {
     /* position: absolute; */
    /* top: 43em; */
    width: 100%;
    height: 60px; /* Altezza fissa del ciuffo */
    background-image: url('../../assets/images/grass.svg'); /* Immagine del ciuffo d'erba */
    background-size: auto 100%; /* da tenere assolutamente altrimenti si taglia */
}




/* ================== =========== PAGINE ADMIN================== ============*/


/* ================== AREA RISERVATA ADMIN==================*/
body#admin-body{
    background-color: var(--footercolor);
}
div#admin-area article h2{
     font-size: 1.5em; 
     font-weight: 600;
}

div#admin-area{
    padding: 6em;
}

div#admin-area article {
  padding:2em 1em 0em 1em;
  border: 1px solid var(--txtcolor);
  border-radius:1.5em;
  margin: 2em 0em;
}

/* stesso pattern usato per le section del footer*/
ul#to-do-list, ul#statistics-list {
    margin: 0 -10px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 1em 1em;
}

ul#to-do-list li, ul#statistics-list li{
    display: inline-block;
    padding: 1.8em 1.2em 1.2em 1.2em;
    border-radius: 1.2em;
    font-weight: 600;
    margin: 0em 1em; /*spazio orizzontale*/
    margin-bottom: 1em; /*se vanno a capo hanno un po' di spazio*/
    flex: 1 1 100px;
}

ul#to-do-list li{
     background-color: var(--buttoncolor);
}

ul#statistics-list li{
    border: 1px solid var(--txtcolor);
}
#to-do-list a, #statistics-list a{
   width:100%; /*riempie tutto il li*/
   color: var(--txtcolor);
    text-decoration: none;
}

p.query-type{
    font-size: 0.7em;
    /* margin: 0 1em; */
}
p.n-query{
    font-size:2em;
    font-weight: 700;
    margin-bottom: 0.5em;
}
/* ================== MENU ADMIN==================*/
.menu-toggle { display: none; } /* Nascondi tasto su desktop */

nav#menu-admin {
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    float: left;
    width: 20%;
    padding: 1em 0em 1em 1em;
    /* height: 100%; */
    overflow: hidden;
    height: 100vh;
}

body#admin-body main {
    background-color: var(--bgcolor);
    margin-left:20%;
}

main#content{
    min-height: 100vh;
    padding-top:2em;
}



nav#menu-admin img {
    display: block;
    margin: 0 auto;
    width: 12em;
    max-width: 100%;
    height: auto;
}


nav#menu-admin li {
  padding: 1.3em;
}

nav#menu-admin li#currentLink {
    background-color: var(--bgcolor);
    border-radius: 2em 0em 0em 2em;
    color: var(--txtcolor);
}
nav#menu-admin li a:visited{
    color: var(--visitedcolor);
}
nav#menu-admin li#currentLink a{
    font-weight: 700;
    color: var(--txtcolor);
}

nav#menu-admin span{
    color: var(--bgcolor);
    font-weight: 700;
}

nav#menu-admin ul{
    margin-top:0.5em;
    margin-bottom: 2em;
}

nav#menu-admin a#logout{
    /* margin-top: 14em; */
    margin-top: auto;
}
div#row2{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

div#row2 article{
    flex: 1 1 200px;
}
#admin-info {
    display: flex;
    flex-direction: column; /* Mette la testata SOPRA e le info SOTTO */
}

.header-info h2{
    float: left;
}

.header-info img{
    float: right;
}

#info-container {
    display: flex;
    flex-wrap: wrap;
}

.circle-foto {
    width: 9em;
    height: 9em;
    object-fit: cover;
    clip-path: circle(50%);
}
.text-details{
    margin: auto 2em;
}
.header-info, #info-container{
    margin-bottom: 1em;
}

/*================NAVIGATION HELP ==================*/

.navigationHelp {
	position: absolute;
	text-indent: -999em;
}

.navigationHelp:focus{
	position: static;
	text-indent: 0em;
}

#menu a:link, .navigationHelp:link {
	color: var(--linkcolor);
}

#menu a:visited, .navigationHelp:visited{
	color: var(--visitedcolor);
}


/* ================== BREADCRUMB==================*/
nav#breadcrumb{
    margin: auto;
    display: block;
    text-align: center;
    width: fit-content;
    background-color: var(--footercolor);
    color: var(--bgcolor);
    padding: 0.7em 1.5em;
    border-radius: 2em;
    font-weight: 400;
    /* transition: background-color 0.4s ease; */
}

nav#breadcrumb a{
    color: var(--linkcolor);
    font-weight: 600;
}


nav#breadcrumb a:visited{
    color: var(--visitedcolor);
}