/*==============HEADER================ */

a:not(#logo-link):not(.pencil):not([href^="mailto:"])::after {
    content: " [" attr(href) "]";
    margin-left: 0.4em;
}

.navigationHelp {
    display: none;
}

nav#header-logo {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
}

nav#header-logo img {
    height: 200px;
    width: 200px;
    display: none;
}

nav#header-logo a {
    display: block;
    content: url("../../assets/icons/print-logo.svg"); /*perche la stampa toglie tutti i background quindi lo mettiamo come contnuto*/
    height: 5em;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1em auto;
}

#nav-osso {
    display: none;
}

#header-actions {
    display: none;
}


/* ============PAGINA ANIMALI=========== */
#animali nav {
    display: none;
}

#animali .filtri ul::before {
    content: 'Filtri applicati:';
}

#animali .filtri ul {
    list-style:none;
    margin: 0;
    padding: 0;
}

#animali .filtri ul li {
    display: inline-block;
}

#animali .filtri ul li#searchEta{
    display: inline-block;    
}

#animali .filtri ul li#searchEta input{
    width: fit-content;
    display: inline-block;
}

#animali #content-filter-button {
    display: none;
}

#animali .filtri ul li#searchEta label{
    display: inline-block;
}

#animali .filtri ul li#searchEta .eta-range{
    display: inline-block;
}

form.filtri input, form.filtri select {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0 ;
    box-shadow: none;
        
    appearance: none;
}

form.filtri select {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    font-weight: bold;
    font-size: 12pt;
    color: black;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
#animali .filtri ul li input::placeholder{
    display: inline-block;
}

#animali .immagine {
    width: 300px;
    height: 245px;
    overflow: hidden; /* fondamentale */
}

#animali .immagine img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* NON contain */
    display: block;
}

#animali .sesso-etaMob {
    display: none;
}

#animali li.card {
    float: left;
    border: 1px solid black;
    height: 325px;
    width: 300px;
    margin: 10px;
}

#animali article.card {
    border:none;
}

#animali .card p, #animali .card h3 {
    padding: 0;
    margin: 0;
}

#animali ul.cards-container {
    list-style: none;
}

#animali .brown-button {
    display: none;
}

#animali .is-favourite, #animali .not-favourite {
    display: none;
}

#animali .heart-normal {
    display: block;
    float: right;
}

#animali .heart-hover {
    display: none;
}
