/*==============HEADER================ */

a:not(#logo-link):not(.pencil):not([href^="mailto:"])::after {
    content: " [" attr(href) "]";
    margin-left: 0.4em;
}

.navigationHelp {
    display: none;
}

nav#header-logo {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
}

nav#header-logo img {
    height: 200px;
    width: 200px;
    display: none;
}

nav#header-logo a {
    display: block;
    content: url("../../assets/icons/print-logo.svg"); /*perche la stampa toglie tutti i background quindi lo mettiamo come contnuto*/
    height: 5em;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1em auto;
}

#nav-osso {
    display: none;
}

#header-actions {
    display: none;
}


/* ============PAGINA ANIMALI=========== */
nav {
    display: none;
}

.filtri {
    display: none;
}

#animali .immagine {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

#animali .immagine img {
    width: 100%;
    height: 100%;
}
