<main id="content">
    <img src="./assets/images/zzz_light_theme.svg" alt="">
    <img src="./assets/images/resting-dog_light_theme.svg" alt="">
    <h1>Qui non c'è nulla...solo un cane che dorme tranquillo</h1>
    <h2>La pagina che hai cercato non ha prodotto risultati.</h2>
    <div>
        <p>Alcune possibili cause:</p>
        <ul>
            <li>Il link è stato scritto male o incollato parzialmente</li>
            <li>La pagina è stata spostata o eliminata</li>
            <li>Non hai accesso alla pagina...forse devi accedere?</li>
        </ul>
        <a class="button" href="./home">Torna alla Home</a>
    </div>
</main>