<div class="c404" id="content">
    
    <!-- potremmo renderla direttamente un'immagine, poi col css le diamo il significato di h1,
    per ora lascio così (ovviamente le zzz non si muoverebbero più) -->
    <h1 id="error-title">
        <span aria-hidden="true">4</span>
        <div class="image-container">
            <!-- <img src="./assets/images/zzz_light_theme.svg" alt=""> -->
            <span id="zzz" aria-hidden="true">zzz</span>
            <!-- TODO: l'alt sull'immagine lo ho messo solo perchè se fai copia incolla vedi 404 (insieme alle zzz),
             non so se ha senso considerare sta roba -->
            <img src="./assets/images/resting-dog_light_theme.svg" alt="0" aria-hidden="true" id="zero-image">
        </div>
        <span aria-hidden="true">4</span>
        <span class="sr-only">404</span>
    </h1>

    <div id="error-message" aria-hidden="true">
        <h2>Qui non c'è nulla...solo un cane che dorme tranquillo</h2>
        <h3>La pagina che hai cercato non ha prodotto risultati.</h3>
    </div>
    <div id="error-info" aria-label="Informazioni sull'errore 404">
        <p>Alcune possibili cause:</p>
        <ul>
            <li>Il link <strong>è stato scritto male o incollato parzialmente</strong></li>
            <li>La pagina è stata <strong>spostata o eliminata</strong></li>
            <li><strong>Non hai accesso alla pagina...</strong> forse devi accedere?</li>
        </ul>
        <a class="orange-button" href="./home">Torna alla <span lang="en">home</span></a>
    </div>
</div>