<div id="animali" class="container">
    <h1>[TITOLO]</h1>

    <nav id="nav-animali-type">
        [NAVTYPE]
    </nav>

    <a href="#content-animali" class="navigationHelp">salta agli animali in adozione</a>
    <a href="#next-page-links" class="navigationHelp">salta alla navigazione delle prossime pagine</a>
    [FILTRI]
    

    <!-- CARDS ANIMALI -->
    <section>
        <ul class="cards-container" id="content-animali" tabindex="-1" aria-label="Animali in adozione">
            [ANIMALI]
        </ul>
    </section>

    <!-- PAGINAZIONE -->
            [LINKPAGINE]
</div>

[BANNERACCEDI]

