<div id="container">
    <h1>Dettagli animale</h1>
    <div class="column-container">
        <div id="dettagli-animale">
            <h2>Informazioni generiche</h2>
            <div id="info-generiche">
                <p><span class="strong">Nome:</span> {{ animale.nome }}</p>
                <p><span class="strong">Sesso:</span> {{ animale.sesso }}</p>
                <p><span class="strong">Età:</span> {{ animale.eta }} anni</p>
                <p><span class="strong">Razza:</span> {{ animale.razza }}</p>
                <p><span class="strong">Pelo:</span> {{ animale.pelo }}</p>
                <p><span class="strong">Taglia:</span> {{ animale.taglia }}</p>
                <p><span class="strong">Colore:</span> {{ animale.colore }}</p>
            </div>
           
            <h2> Altre informazioni</h2>
        </div>
    </div>

</div>