<div id="animali" class="container">
    <h1>[TITOLO]</h1>
    [ASSIGNED-BUTTON]

    <a class="navigationHelp" href="#nav-sotto">Salta alla navigazione delle pagine</a>
    <nav id="nav-animali-type" aria-label="Filtro per tipologia">
        [NAVTYPE]
    </nav>

    [FILTRI]
    

    <!-- CARDS ANIMALI -->
    <section>
        <ul class="cards-container" tabindex="-1" aria-label="Animali in adozione">
            [ANIMALI]
        </ul>
    </section>

    <!-- PAGINAZIONE -->
            [LINKPAGINE]
</div>

[BANNERACCEDI]
