<!-- <!DOCTYPE html>
<html lang="it">

<head>
    <title>Chi Siamo </title>
    <meta charset="utf-8">
    <meta name="description"
        content="Pagina dedicata a spiegare da chi è composto e come funziona il rifugio PetMatch">
    <meta name="keywords" content= "PetMatch, rifugio, animali, adottare, cani, gatti">
    <meta name="author" content="Angela Canazza, Angela Favaro, Laura Venturini, Daniela Erba, Linor Sadè">
    <link rel="stylesheet" href="style.css" media="screen">
    <link rel="stylesheet" href="mini.css" media="screen and (max-width:800px)">
    <link rel="stylesheet" href="print.css" media="print">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">
</head>
  -->
<div class="container">
    <article id="first-chapter-chi-siamo" class="column-container">
        <div id="chi-siamo-content">
            <h1>Chi Siamo </h1>
            <p>Il nostro rifugio PetMatch è un luogo di accoglienza per cani e gatti che non hanno ancora trovato la loro anima gemella.</p>
            <p>
                Nato nel 2025 dall’idea di Angela Canazza, Angela Favaro, Daniela Erba, Laura Venturini e Linor Sadè, questo progetto mira a trovare una casa per tutti quegli animali che, a causa di eventi sfortunati, non ne hanno ancora una. La nostra associazione si basa sull’aiuto di volontari ed esperti sanitari, che ci supportano nell’accudire gli animali durante il loro soggiorno nella nostra struttura.
            </p>
        </div>
        <div id="chi-siamo-img"> <img src="./assets/images/chiSiamo.png" alt="" /> </div>
    </article>
</div>

<article id="second-chapter-chi-siamo">
    <div class="container">
        <div class="column-container">
            <div id=chi-siamo2-img>
                <img src="./assets/images/ChiSiamo2-3.svg" alt="" />
            </div>
            <p id="content-chi-siamo2">PetMatch è un rifugio che nasce con l’obiettivo di offrire a ogni animale un’opportunità concreta di trovare la famiglia giusta. Pur avendo una sede ben definita, crediamo che l’adozione non debba avere confini: per questo ci impegniamo a far incontrare i nostri ospiti con famiglie provenienti da tutta Italia. Saremo noi a seguire ogni fase del percorso, garantendo spostamenti e inserimenti responsabili, mettendo sempre al primo posto la salute e il benessere, presente e futuro, dei nostri animali.
            </p>
        </div>
    </div>
</article>

<div class="container">
    <aside id="petmatch-timeline">
        <ul id="pm-timeline" aria-label="Linea temporale delle tappe principali di PetMatch">
            <li>
                <img src="./assets/icons/circle-timeline.svg" alt="" class="circle" />
                <span class="pm-timeline-date">28 ottobre 2025</span>
                <span>Fondazione</span>
            </li>
            <li>
                <img src="./assets/icons/circle-timeline.svg" alt="" class="circle" />
                <span class="pm-timeline-date">6 dicembre 2025</span>
                <span>Apertura del sito web</span>
            </li>
            <li>
                <img src="./assets/icons/circle-timeline.svg" alt="" class="circle" />
                <span class="pm-timeline-date">3 febbraio 2026</span>
                <span>Consegna progetto</span>
            </li>
        </ul>
    </aside>
    <article id="third-chapter-chi-siamo">
        <div class="column-container">
            <div id="chi-siamo3-img">
                <img src="./assets/images/ChiSiamo3.jpg" loading="lazy" alt="" />
            </div>
            <div id="chi-siamo3-content">
                <p> Il nostro rifugio è una vera e propria casa temporanea dove cani e gatti vengono accolti. </p>
                <p> Prima dell’adozione, i nostri ospiti vengono sottoposti a tutti i controlli sanitari necessari, ma non solo: ci assicuriamo anche che ricevano una preparazione psico-comportamentale adeguata, così da essere pronti ad accogliere tutto l’amore delle loro future famiglie e a ricambiarlo senza timori. </p>
                <p> E se vi trovate nei pressi del nostro rifugio, passate a trovarci! Sarete accolti dal nostro personale, e avrete l’occasione di conoscere da vicino i nostri meravigliosi compagni a quattro zampe… pronti a rubarvi il cuore con uno sguardo. </p>
            </div>
        </div>
    </article>
    <article id="ci-presentiamo">
        <h2> Ci presentiamo:</h2>
        <p> Siamo un gruppo di studentesse di Informatica che amano il mondo animale: abbiamo scelto di impegnarci in questo progetto dedicato a un rifugio per animali senza famiglia, portandolo avanti con grande passione e dedizione.</p>
        <p>I nostri trovatelli sono sempre seguiti da un team veterinario e da esperti sanitari in ambito veterinario. Un aiuto preziosissimo arriva dai nostri instancabili volontari, sempre presenti all’interno del rifugio: vengono formati fin da subito per prendersi cura al meglio dei nostri ospiti.
        </p>
        <p> Il nostro obiettivo è far crescere questo rifugio e renderlo un punto di riferimento per chi desidera adottare in modo consapevole e amorevole. Grazie alla collaborazione tra personale, volontari e alle tante richieste di adozione, desideriamo aiutare sempre più animali a trovare il luogo più amorevole e adatto a loro.</p>
        <div id="team-img">
            <img src="./assets/images/favaro-polaroid.svg" alt="Illustrazione di Angela Favaro" loading="lazy"/>
            <img src="./assets/images/canazza-polaroid.svg" alt="Illustrazione di Angela Canazza" loading="lazy"/>
            <img src="./assets/images/sade-polaroid.svg" alt="Illustrazione di Linor Sadè"  loading="lazy"/>
            <img src="./assets/images/venturini-polaroid.svg" alt="Illustrazione di Laura Venturini"  loading="lazy"/>
            <img src="./assets/images/erba-polaroid.svg" alt="Illustrazione di Daniela Erba" loading="lazy"/>
        </div>
    </article>
        <a href = "#top-page" class="torna-su-button">
        <img src="./assets/icons/torna-su.svg" class="static" alt="torna su"/>
        <img src="./assets/icons/torna-su.gif" class="active" alt=""/>
    </a>
</div>
