<div id="come-funziona" class="container">
    <section id="comeFunziona" class="colonne">
        <div class="testo">
            <h1>Come funziona</h1>
            <p>
                Qui sul sito di <span lang="en">PetMatch</span> puoi conoscere a distanza i nostri animali, <strong>fare richiesta di adozione per uno di essi</strong> tenendo sotto
                controllo lo <a href="profilo-utente#ultime-richieste">stato delle tue richieste</a>, <strong>conoscere luogo ed orari degli eventi organizzati</strong>, o unirti al nostro team di <span lang="en">PetMatch</span>!</p>
            <p class="contatti">Puoi anche venire a trovarci a </p><address >via Paolotti 1</address><p class="contatti"> e portare i tuoi animali per vedere come interagiscono con i nostri amici! </p>
            <p>
                Se invece hai trovato un animale abbandonato o ferito, puoi contattarci
                immediatamente al numero
                </p>

<address>
  <a class="tel" href="tel:+390000000000">
    +39 000 000 0000
  </a>
</address>

<p class="contatti">
  , oppure compilare ed inviare il
  <a href="home#affidamento-home">
    modulo per le segnalazioni di animali senza casa
  </a>.
</p>

        </div>
        <img src="assets/images/comeFunzionaCat.svg" alt="" />
    </section>
    <section id="comeSiAdotta" class="colonne">
        <div id="immagini">
            <img src="assets/images/comeFunziona3.svg" alt="" id="cat" />
            <img src="assets/images/comeFunziona2.svg" alt="" id="dog" />
        </div>
        <div class="testo" id="come-si-adotta">
            <h2>Come si adotta</h2>
            <p>
                Se vuoi adottare un animale qui da <span lang="en">PetMatch</span>, ti basterà selezionarlo dall'apposita pagina di <a href="animali">animali</a>, compilare il modulo subito
                sotto, e attendere che un nostro responsabile accetti la sua richiesta. Nella tua <strong>area personale</strong> potrai <strong>tenere sotto controllo 
                ogni tua richiesta di adozione</strong>, di cui conosci sempre lo stato, che varia da: 
                    <ul>
                        <li><span class="enlight">Nuova</span>: inviata con successo</li>
                        <li><span class="enlight">In valutazione</span>: un nostro responsabile ha visionato e preso in carico la tua richiesta</li>
                        <li><span class="enlight">Da trasportare</span>: in caso hai scelto il trasporto a casa, significa che l'animale è in via di trasporto</li>
                        <li><span class="enlight">Accettata</span>: la tua richiesta ha superato tutti i controlli, puoi portare a casa l'animale che hai scelto</li>
                    </ul>
                per qualsiasi dubbio o maggior chiarimento, non esitate a contattarci all'indirizzo email <address>
                                    <a class="email" href="mailto:matchpet48@gmail.com" target="_blank">matchpet48@gmail.com</a>
                                </address>
                <div id="paws-containter">
                    <img src="./assets/images/pow.svg" alt="" id="paw1"/>
                    <img src="./assets/images/pow.svg" alt="" id="paw2" />
                    <img src="./assets/images/pow.svg" alt="" id="paw3"/>
                    <img src="./assets/images/pow.svg" alt="" id="paw4"/>
                </div>
            </p>
        </div>
    </section>
    <section id="provAnimali">
        <h2>Da dove arrivano i nostri animali</h2>

        <p>Gli animali che ospitiamo provengono da situazioni diverse, ma tutti hanno bisogno di un nuovo inizio. Alcuni ci vengono affidati da persone che, 
            per motivi personali o familiari, <strong>non possono più occuparsi di loro</strong> e cercano per il proprio animale un luogo sicuro.
            Altri sono stati trovati per strada, <strong>vittime di abbandono o smarrimento</strong>: questi piccoli trovatelli sono arrivati a noi grazie a cittadini che non sono rimasti indifferenti e 
            li hanno messi in salvo.</p> 
        <p>In alcuni casi, provengono <strong>da interventi di recupero o segnalazioni urgenti</strong> che richiedono assistenza immediata.
            Qualunque sia la loro storia, nei nostri rifugi ricevono cure, attenzione e la possibilità di trovare una famiglia pronta ad accoglierli. 
            <strong>Se anche tu hai trovato un animale abbandonato</strong>, <a href="home#affidamento-home">scopri di più su come puoi affidarlo a noi</a>.
        </p>
    </section >
    <section id="trasporto"> 
        <div>
            <div>
                <h2>Sul nostro servizio di trasporto</h2>
                <p><strong>Hai dubbi sulla sicurezza del viaggio?</strong> Non preoccuparti: i nostri mezzi sono <strong>certificati e climatizzati</strong>, studiati appositamente per il benessere animale e gestiti da <strong>personale qualificato.</strong></p>
                <p>Per i viaggi più lunghi sono previste <strong>soste regolari</strong>, durante le quali i nostri operatori 
                si assicurano che ogni animale possa idratarsi, muoversi e ricevere le attenzioni necessarie per ridurre 
                al minimo lo stress del tragitto.
            </p>
                <p><strong>Abbiamo a cuore anche l'ambiente:</strong> ottimizziamo ogni spostamento organizzando viaggi di gruppo (solitamente circa dieci amici animali), riducendo così l'impatto ecologico e garantendo compagnia agli animali.</p>
            </div>
            
            <div>
                <img id="furgoncino" src="assets/images/trasporto.png" loading="lazy" alt="Mezzo di trasporto PetMatch" />
            </div>
        </div>
            
    </section>

    <a href = "#top-page" class="torna-su-button">
        <img src="./assets/icons/torna-su.svg" class="static" alt="torna su"/>
        <img src="./assets/icons/torna-su.gif" class="active" alt=""/>
    </a>
</div>