<div id="come-funziona" class="container">
    <section>
        <h2>Come funziona</h2>
        <img src="assets/images/comeFunzionaCat.svg" alt="">
        <p>TESTO SU COME FUNZIONA
            Qui sul sito di PetMatch puoi conoscere a distanza i nostri animali, che puoi trovare















            Se vuoi adottare un animale qui da PetMatch, ti basterà selezionarlo dall'apposita pagina di animali, compilare il form subito
            sotto, e attendere che un nostro responsabile accetti la sua richiesta. Nella tua area personale potrai tenere sotto controllo 
            ogni tua richiesta di adozione, di cui conosci sempre lo stato, che varia da: 
            <ul>
                <li><span class="enlight">Nuova</span>: inviata con successo</li>
                <li><span class="enlight">In valutazione</span>: un nostro responsabile ha visionato e preso in carico la tua richiesta</li>
                <li><span class="enlight">Da trasportare</span>: in caso hai scelto il trasporto a casa, significa che l'animale è in via di trasporto</li>
                <li><span class="enlight">Accettata</span>: la tua richiesta ha superato tutti i controlli, puoi portare a casa l'animale che hai scelto</li>
            </ul>
            per qualsiasi dubbio o maggior chiarimento, non esitate a contattarci alla mail ...
            
        </p>
    </section>
</div>