<div id="eventi" class="container">
    <h1>Prossimi eventi</h1>

    <a href="#content-animali" class="navigationHelp">salta agli eventi</a>
    <a href=".next-page-links" class="navigationHelp">salta alla navigazione delle prossime pagine</a>
    

    <form class="filtri" method="get" action="eventi">
        <input type="hidden" name="type" value="[TYPE]">
        <ul aria-label="Filtri di ricerca">
            <li class="capsula-filtro" id="searchName">
                <label for="name-event">Nome</label>
                <input type="text" id="name-event" name="name-event" value="[NAME]" placeholder="Cerca...">
            </li>
            <li class="capsula-filtro" role="presentation">     
                <div class="data-range">
                    <label>Età</label>
                    <input type="date" name="data_inizio" value="[DATA_MIN]" placeholder="Da" min="0" aria-label="Data minima">
                    <span aria-hidden=true>–</span>
                    <input type="date" name="data_fine" value="[DATA_MAX]" placeholder="A" min="0" aria-label="Data massima">
                </div>
            </li>
        </ul>
        <div id="content-filter-button">
            <a href="[URL-RESERFILTRI]" id="[VISIBILITA-FILTRO]" aria-label="elimina i filtri">X</a>
            <button type="submit" class="orange-button">Cerca</button>
        </div>
    </form>


    <!-- CARDS EVENTI -->
    <section>
        <ul class="cards-container" id="content-animali" tabindex="-1" aria-label="Animali in adozione">
            <li>
                <article class="evento" aria-labelledby="evento-titolo-1">
                    <!-- Titolo dell'evento -->
                    <img class="immagine-evento" src="assets/images/animals/defaultCane.jpg" alt="">

                    <!-- Immagine dell'evento -->
                        

                    <!-- Data dell'evento -->
                    <p class="data-evento">
                        <!-- icona decorativa -->
                        <img src="assets/icons/calendar.svg" alt="" aria-hidden="true" class="icon-calendar">
                        <!-- data semantica -->
                        <time datetime="2026-01-17">17 Luglio 2026</time>
                    </p>

                    <!-- Descrizione dell'evento -->
                    <div class="descrizione-evento">
                        <h2 id="evento-titolo-1">Nome dell'Evento</h2>
                        <p>Questo è un esempio di descrizione dell'evento. Qui puoi mettere informazioni dettagliate su cosa succederà, dove, orari, ecc.</p>
                    </div>
                </article>
            </li>

            <li>
                <article class="evento" aria-labelledby="evento-titolo-1">
                    <!-- Titolo dell'evento -->
                    <img class="immagine-evento" src="assets/images/animals/defaultCane.jpg" alt="">

                    <!-- Immagine dell'evento -->
                        

                    <!-- Data dell'evento -->
                    <p class="data-evento">
                        <!-- icona decorativa -->
                        <img src="assets/icons/calendar.svg" alt="" aria-hidden="true" class="icon-calendar">
                        <!-- data semantica -->
                        <time datetime="2026-01-17">17 Luglio 2026</time>
                    </p>

                    <!-- Descrizione dell'evento -->
                    <div class="descrizione-evento">
                        <h2 id="evento-titolo-1">Nome dell'Evento</h2>
                        <p>Questo è un esempio di descrizione dell'evento. Qui puoi mettere informazioni dettagliate su cosa succederà, dove, orari, ecc.</p>
                    </div>
                </article>
            </li>

            <li>
                <article class="evento" aria-labelledby="evento-titolo-1">
                    <!-- Titolo dell'evento -->
                    <img class="immagine-evento" src="assets/images/animals/defaultCane.jpg" alt="">

                    <!-- Immagine dell'evento -->
                        

                    <!-- Data dell'evento -->
                    <p class="data-evento">
                        <!-- icona decorativa -->
                        <img src="assets/icons/calendar.svg" alt="" aria-hidden="true" class="icon-calendar">
                        <!-- data semantica -->
                        <time datetime="2026-01-17">17 Luglio 2026</time>
                    </p>

                    <!-- Descrizione dell'evento -->
                    <div class="descrizione-evento">
                        <h2 id="evento-titolo-1">Nome dell'Evento</h2>
                        <p>Questo è un esempio di descrizione dell'evento. Qui puoi mettere informazioni dettagliate su cosa succederà, dove, orari, ecc.</p>
                    </div>
                </article>
            </li>

            <li>
                <article class="evento" aria-labelledby="evento-titolo-1">
                    <!-- Titolo dell'evento -->
                    <img class="immagine-evento" src="assets/images/animals/defaultCane.jpg" alt="">

                    <!-- Immagine dell'evento -->
                        

                    <!-- Data dell'evento -->
                    <p class="data-evento">
                        <!-- icona decorativa -->
                        <img src="assets/icons/calendar.svg" alt="" aria-hidden="true" class="icon-calendar">
                        <!-- data semantica -->
                        <time datetime="2026-01-17">17 Luglio 2026</time>
                    </p>

                    <!-- Descrizione dell'evento -->
                    <div class="descrizione-evento">
                        <h2 id="evento-titolo-1">Nome dell'Evento</h2>
                        <p>Questo è un esempio di descrizione dell'evento. Qui puoi mettere informazioni dettagliate su cosa succederà, dove, orari, ecc.</p>
                    </div>
                </article>
            </li>

            <li>
                <article class="evento" aria-labelledby="evento-titolo-1">
                    <!-- Titolo dell'evento -->
                    <img class="immagine-evento" src="assets/images/animals/defaultCane.jpg" alt="">

                    <!-- Immagine dell'evento -->
                        

                    <!-- Data dell'evento -->
                    <p class="data-evento">
                        <!-- icona decorativa -->
                        <img src="assets/icons/calendar.svg" alt="" aria-hidden="true" class="icon-calendar">
                        <!-- data semantica -->
                        <time datetime="2026-01-17">17 Luglio 2026</time>
                    </p>

                    <!-- Descrizione dell'evento -->
                    <div class="descrizione-evento">
                        <h2 id="evento-titolo-1">Nome dell'Evento</h2>
                        <p>Questo è un esempio di descrizione dell'evento. Qui puoi mettere informazioni dettagliate su cosa succederà, dove, orari, ecc.</p>
                    </div>
                </article>
            </li>

            <li>
                <article class="evento" aria-labelledby="evento-titolo-1">
                    <!-- Titolo dell'evento -->
                    <img class="immagine-evento" src="assets/images/animals/defaultCane.jpg" alt="">

                    <!-- Immagine dell'evento -->
                        

                    <!-- Data dell'evento -->
                    <p class="data-evento">
                        <!-- icona decorativa -->
                        <img src="assets/icons/calendar.svg" alt="" aria-hidden="true" class="icon-calendar">
                        <!-- data semantica -->
                        <time datetime="2026-01-17">17 Luglio 2026</time>
                    </p>

                    <!-- Descrizione dell'evento -->
                    <div class="descrizione-evento">
                        <h2 id="evento-titolo-1">Nome dell'Evento</h2>
                        <p>Questo è un esempio di descrizione dell'evento. Qui puoi mettere informazioni dettagliate su cosa succederà, dove, orari, ecc.</p>
                    </div>
                </article>
            </li>

            <li>
                <article class="evento" aria-labelledby="evento-titolo-1">
                    <!-- Titolo dell'evento -->
                    <img class="immagine-evento" src="assets/images/animals/defaultCane.jpg" alt="">

                    <!-- Immagine dell'evento -->
                        

                    <!-- Data dell'evento -->
                    <p class="data-evento">
                        <!-- icona decorativa -->
                        <img src="assets/icons/calendar.svg" alt="" aria-hidden="true" class="icon-calendar">
                        <!-- data semantica -->
                        <time datetime="2026-01-17">17 Luglio 2026</time>
                    </p>

                    <!-- Descrizione dell'evento -->
                    <div class="descrizione-evento">
                        <h2 id="evento-titolo-1">Nome dell'Evento</h2>
                        <p>Questo è un esempio di descrizione dell'evento. Qui puoi mettere informazioni dettagliate su cosa succederà, dove, orari, ecc.</p>
                    </div>
                </article>
            </li>

        </ul>
    </section>

    <!-- PAGINAZIONE -->
    <nav class="next-page-links" tabindex="-1" aria-label="Tutte le pagine">
        <ul aria-label="Pagine di navigazione">
            [LINKPAGINE]
        </ul>
    </nav>
</div>
