<div id="home">
    <div id="introduction-home">
        <section class="column-container">
            <div class="column-user">
                <h1>Adotta anche a distanza: 
                    <div id="subtitle-home"> del trasporto ci occupiamo noi</div>
                </h1>

                <img src="./assets/images/cat-decorator.svg" id="cat-decorator" alt="" />
                <a href = "./come-funziona">→ Voglio sapere come funziona</a>
            </div>
            <div class="column-user">
                <div id="main-description">
                        <p><strong>La distanza? È solo un numero!</strong></p>
                        <p>Se hai trovato un animale che è riuscito a conquistarti, segui le semplici procedure di adozione presenti nella sezione <a href="./come-funziona">Come funziona.</a></p>
                        <p><strong>Ci occuperemo noi di organizzare l’incontro</strong>, nel modo più comodo e accogliente, così che sia speciale sia per te che per il tuo nuovo amico peloso.</p>
                        <p>Non vediamo l’ora di farvi conoscere!</p>
                </div>
                <img src="./assets/images/pow.svg" id="paw-1" alt="" />
                <img src="./assets/images/pow.svg" id="paw-2" alt="" />
                <img src="./assets/images/pow.svg" id="paw-3" alt="" />
                <img src="./assets/images/pow.svg" id="paw-4" alt="" />
            </div>
        </section>
    </div>

    <section id="second-chapter-home">
        <div class="column-container">
            <img src="./assets/images/house.svg" class="column-user" alt="" />
            <div class="column-user">
                <h2><strong>Moltissimi</strong> animali hanno trovato casa!</h2>
                <p>Grazie al nostro progetto,molti nostri animali hanno finalmente trovato l’amore che meritano!</p>
                <p>Le nostre procedure di adozione vi aiutano a <em>incontrare l'amico più adatto a voi</em>, tenendo conto delle vostre caratteristiche e del vostro stile di vita. Allo stesso tempo, garantiamo che <em>ogni animale trovi la famiglia più in sintonia con le sue esigenze e il suo carattere.</em></p>
                <p><strong>Saremmo sempre al vostro fianco durante tutto il percorso</strong> e, per qualsiasi necessità, non esitate a contattarci!</p>
            </div>
        </div>
    </section>


    <section id = "adoption-timeline">
        <div class="container">
            <h2>Come si adotta?</h2>
            <ol id = "timeline" aria-label="linea temporale: processo di adozione">
                <li>
                    <details>
                        <summary>
                            <img src="./assets/icons/circle-timeline.svg" alt="" class="circle" />
                            <span class="number">1.</span>
                            Scegli l'animale e registrati.
                        </summary>
                        <p class ="popup">
                            Sfoglia fra i nostri cani e i nostri gatti finché non trovi l'animale che fa per te! Dopodiché registrati per poter proseguire con il processo di adozione.
                            <img src="./assets/images/point1-home.gif" class="dinamic-gif" alt="" />
                            <img src="./assets/images/point1-home-static.jpg" class="static-gif" alt="" />
                        </p>
                    </details>
                </li>

                <li>
                <details>
                        <summary>
                            <img src="./assets/icons/circle-timeline.svg" alt="" class="circle" />
                            <span class="number">2.</span>
                            Compila il <span lang="en">form</span> per fare richiesta di adozione.
                        </summary>
                        <p class="popup">
                            Hai trovato il tuo compagno di vita ideale? Vai sul suo profilo e compila il modulo che trovi a fine pagina: non vediamo l'ora di ricontattarti per parlarne insieme.                            
                            <img src="./assets/images/point2-home.gif" class="dinamic-gif" alt="" />
                            <img src="./assets/images/point2-home-static.jpg" class="static-gif" alt="" />

                        </p>
                    </details>
                    

                </li>

                <li>
                    <details>
                        <summary>
                            <img src="./assets/icons/circle-timeline.svg" alt="" class="circle" />
                            <span class="number">3.</span>
                            Completa il percorso conoscitivo.
                        </summary>
                        <p class="popup">
                            Il nostro <span lang="en">team</span> organizzerà una <strong>videochiamata conoscitiva</strong>: vogliamo assicurarci che tu e il tuo nuovo amico siate perfetti l'uno per l'altra e che l'ambiente domestico sia idoneo ad accoglierlo.
                            <img src="./assets/images/point3-home.gif" class="dinamic-gif" alt="" />
                            <img src="./assets/images/point3-home-static.jpg" class="static-gif" alt="" />

                        </p>
                    </details>
                </li>

                <li>
                    <details>
                        <summary>
                            <img src="./assets/icons/circle-timeline.svg" alt="" class="circle" />
                            <span class="number">4.</span>
                            Richiedi il trasporto o occupatene tu.
                        </summary>
                        <p class="popup">
                            Abiti lontano e non puoi venire di persona? Nessun problema, ci pensiamo noi! Nel modulo di adozione potrai richiedere la consegna direttamente a casa tua. 
                            <img src="./assets/images/point4-home.gif" class="dinamic-gif" alt="" />
                            <img src="./assets/images/point4-home-static.jpg" class="static-gif" alt="" />

                        </p>
                    </details>
                </li>

                <li>
                    <details>
                        <summary>
                            <img src="./assets/icons/circle-timeline.svg" alt="" class="circle" />
                            <span class="number">5.</span>
                            Scegli se siete fatti l'uno per l'altro.
                        </summary>
                        <p class="popup">
                            Finalmente tu e il tuo nuovo animale siete insieme! Il nostro supporto però non finisce qui: se dovessi riscontrare difficoltà nella convivenza, <strong>contattaci subito</strong>.
                            <img src="./assets/images/point5-home.gif" class="dinamic-gif" alt="" />
                            <img src="./assets/images/point5-home-static.jpg" class="static-gif" alt="" />
                        </p>
                    </details>
                </li>
            </ol>
        </div>
    </section>
    
    <div class="container">
        <a href="./come-funziona#come-si-adotta" class="brown-button">più dettagli sull'adozione →</a>
    </div>
    
    <div class="container">
        <section id = "section-events">
            <h2>Scopri i nostri eventi</h2>
            <h3>Potresti conoscere il tuo nuovo compagno di vita!</h3>
            <img src="./assets/images/cover-events.jpeg" class="polaroid" alt="" />
            <p>Il rifugio non è solo un luogo di accoglienza, ma un punto di incontro: organizziamo periodicamente eventi aperti a grandi e piccini, 
                pensati per sensibilizzare la comunità sul benessere animale. Queste giornate speciali rappresentano un’occasione unica per immergersi nella vita del rifugio, 
                interagire da vicino con i nostri ospiti e conoscere le loro storie. Partecipare significa contribuire concretamente al loro mantenimento e alle cure veterinarie, 
                vivendo al contempo un’esperienza piacevole, educativa e coinvolgente per tutti.</p>
            <div id="events-list">
                [UltimiEventi]
            </div>

        </section>
        <a href="./eventi" class="brown-button">Guarda tutti gli eventi →</a>
    </div>
    
    <section id="section-sponsor">
        <div class="container">
            <h2>I nostri sostenitori</h2>
        </div>
        <div id="sponsor">
            <div class="column-container">
                <img src="./assets/images/archimedeCard.png" alt="logo archimede card" />
                <img src="./assets/images/paolottiExpress.png" alt="logo paolotti express" />
                <img src="./assets/images/pollaioPay.png" alt="logo pollaio pay" />
                <img src="./assets/images/revuzzatti.png" alt="logo revuzzatti" />
                <img src="./assets/images/satispd.png" alt="logo satis-PD" />
                <img src="./assets/images/gaggipay.png" alt="logo gaggipay" />
            </div>
        </div>
    </section>
    <div class="container">
        <a href="./lavora-con-noi#inizio-sostenitore" class="brown-button">Vuoi diventare nostro sostenitore? →</a>
    </div>

    <div id="affidamento-home">
        <div class="column-container">
            <div id="content-affidamento">
                <h2>Hai bisogno di trovare casa a un animale?</h2>
                <p>Compila il modulo con tutte le informazioni richieste. Riceverai un nostro riscontro via mail, indicativamente <strong>entro 2 settimane.</strong></p>
                <p><strong>Aiutaci ad aiutare chi è in difficoltà!</strong> Sappiamo che le cucciolate impreviste sono un impegno grande, ma preferiamo dedicare le nostre energie a chi sta affrontando un momento critico.</p>
                <p>Dubbi o problemi? valuta di <a href="mailto:matchpet48@gmail.com" target="_blank">contattarci</a></p>
            </div>
            <div id="container-form-affidamento">
                <form method="post" action="#affidamento-home" id="form-affidamento" novalidate>
                    <fieldset>
                        <legend>Compila il modulo, presto verrai contattato!</legend>
                        <div>
                            <label for="name">Nome e Cognome: </label>
                            <input type="text" name="name-surname" id="name" placeholder="Nome Cognome" autocomplete="name" value="[nameValue]"/>
                        </div>
                        <div>
                            <label for="email">Email: </label>
                            <input type="email" name="email" id="email" placeholder="email@esempio.com" autocomplete="email" value="[emailValue]"/>
                        </div>
                        
                        <div id="messaggiForm-home">[messaggiForm]
                        </div>
                        <div class="radio-input">
                            <div>
                                <input type="radio" name="type-animal" id="type-cat" value="Gatto"/>
                                <label for="type-cat">Gatto</label>
                            </div>
                            <div>
                                <input type="radio" name="type-animal" id="type-dog" value="Cane"/>
                                <label for="type-dog">Cane</label>
                            </div>
                        </div>
                        
    
                        <div>
                            <button type="submit" name="submit-report-form" id="sendForm" class="orange-button">
                                Invia il <span lang="en">Form</span>
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div> 
        </div>
    </div>

    <div class="container">
    <section id="invitoLavoro">
        <div class="testo">
            <h2>Ti piace il nostro lavoro e vuoi lavorare con noi?</h2>
            <p>Non serve un curriculum per regalare una carezza: accettiamo volontari anche senza 
                esperienza. L'unico requisito richiesto è il pieno di amore verso gli animali!</p>
        </div>
        <div id="quote-container">
            <blockquote>
                <img src="./assets/images/quote.svg" alt="" class="quote" id="starting-quote" />
                <p>
                Gli animali offrono una compagnia incondizionata che molti uomini non possono dare.
                </p>
                <img src="./assets/images/quote.svg" alt="" class="quote" id="finishing-quote" />
                <cite><span lang="de">- Sigmund Freud</span></cite>
            </blockquote>
        </div>
    </section>
    
        <a href="lavora-con-noi" class="brown-button">Scopri come lavorare con noi →</a>
    </div> 

    <a href = "#top-page" class="torna-su-button">
        <img src="./assets/icons/torna-su.svg" class="static" alt="torna su"/>
        <img src="./assets/icons/torna-su.gif" class="active" alt=""/>
    </a>

</div>