<main id="home">
    <div id="introduction-home">
        <div class="column-container">
            <div class="column-user">
                <h1>Adotta anche a distanza: 
                    <div id="subtitle-home"> del trasporto ci occupiamo noi</div>
                </h1>

                <img src="./assets/images/cat-decorator.svg" id="cat-decorator" alt="" />
                <a href = "./come-funziona">→ Voglio sapere come funziona</a>
            </div>
            <div class="column-user">
                <div id="main-description">
                        <p><strong>La distanza? È solo un numero!</strong></p>
                        <p>Se hai trovato un amico a quattro zampe che ti ha conquistato, segui le semplici procedure di adozione presenti nella sezione ‘Come funziona’.</p>
                        <p><strong>Ci occuperemo noi di organizzare l’incontro</strong>, nel modo più comodo e accoglente, così che sia speciale sia per te che per il tuo nuovo amico peloso.</p>
                        <p>Non vediamo l’ora di farvi conoscere!</p>
                </div>
                <img src="./assets/images/pow.svg" id="paw-1" alt="" />
                <img src="./assets/images/pow.svg" id="paw-2" alt="" />
                <img src="./assets/images/pow.svg" id="paw-3" alt="" />
                <img src="./assets/images/pow.svg" id="paw-4" alt="" />
            </div>
        </div>
    </div>

    <div id="second-chapter-home">
        <div class="column-container">
            <img src="./assets/images/house.svg" class="column-user" alt="" />
            <div class="column-user">
                <h2><strong>Oltre 5.000</strong> animali hanno trovato casa!</h2>
                <p>Grazie al nostro progetto, migliaia di animali hanno finalmente trovato l’amore che meritano!</p>
                <p>Le nostre procedure di adozione vi aiutano a <em>incontrare l’amico a quattro zampe più adatto a voi</em>, tenendo conto delle vostre caratteristiche e del vostro stile di vita. Allo stesso tempo, garantiamo che <em>ogni animale trovi la famiglia più in sintonia con le sue esigenze e il suo carattere.</em></p>
                <p><strong>Saremo sempre al vostro fianco durante tutto il percorso</strong> e, per qualsiasi necessità, non esitate a contattarci!</p>
            </div>
        </div>
    </div>

    <!-- da capire come fare per saltare la timeline -->
     <!-- TODO: sistemare la timeline anche per visualizzazione <800px (e anche ovviamente telefono) -->
    <div id = "adoption-timeline">
        <div class="container">
            <h2>COME SI ADOTTA?</h2>
            <ol id = "timeline-home">
                <li>
                    <img src="./assets/icons/circle-timeline.svg" alt="" class="circle" />
                    <span class="number">1.</span>
                    <dl>
                        <dt>Scegli l'animale e registrati</dt>
                        <dd class ="popup">
                            Sfoglia fra i nostri cani e i nostri gatti finché non trovi l'animale che fa per te! Dopodiché registrati per poter proseguire con il processo di adozione.
                            <img src="./assets/images/point1-home.gif" alt="" />
                        </dd>
                    </dl> 
                </li>

                <li>
                    <img src="./assets/icons/circle-timeline.svg" alt="" class="circle" />
                    <span class="number">2.</span>
                    <dl>
                        <dt>Compila il form per fare richiesta di adozione</dt>
                        <dd class="popup">
                            Hai trovato il tuo compagno di vita ideale? Vai sul suo profilo e compila il modulo che trovi a fine pagina: non vediamo l'ora di ricontattarti per parlarne insieme.                            
                            <img src="./assets/images/point2-home.gif" alt="" />
                        </dd>
                    </dl>
                    

                </li>

                <li>
                    <img src="./assets/icons/circle-timeline.svg" alt="" class="circle" />
                    <span class="number">3.</span>
                    <dl>
                        <dt>Completa il percorso conoscitivo</dt>
                        <dd class="popup">
                            Il nostro team organizzerà una <strong>videochiamata conoscitiva</strong>: vogliamo assicurarci che tu e il tuo nuovo amico siate perfetti l'uno per l'altra e che l'ambiente domestico sia idoneo ad accoglierlo.
                            <img src="./assets/images/point3-home.gif" alt="" />
                        </dd>
                    </dl>
                </li>

                <li>
                    <img src="./assets/icons/circle-timeline.svg" alt="" class="circle" />
                    <span class="number">4.</span>
                    
                    <dl>
                        <dt>Richiedi il trasporto o occupatene tu</dt>
                        <dd class="popup">
                            Abiti lontano e non puoi venire di persona? Nessun problema, ci pensiamo noi! Nel modulo di adozione potrai richiedere la consegna direttamente a casa tua. 
                            <img src="./assets/images/point4-home.gif" alt="" />
                        </dd>
                    </dl>
                </li>

                <li>
                    <img src="./assets/icons/circle-timeline.svg" alt="" class="circle" />
                    <span class="number">5.</span>
                    
                    <dl>
                        <dt>Scegli se siete fatti l'uno per l'altro</dt>
                        <dd class="popup">
                            Finalmente tu e il tuo amico a quattro zampe siete insieme! Il nostro supporto però non finisce qui: se dovessi riscontrare difficoltà nella convivenza, <strong>contattaci subito</strong>.
                            <img src="./assets/images/point5-home.gif" alt="" />
                        </dd>
                    </dl>
                </li>
            </ol>
        </div>
    </div>
    
    <!-- TODO: mettere l'ancora del link al titolo come si adotta quando la pagina esisterà -->
    <div class="container">
        <a href="./come-funziona" class="brown-button">più dettagli →</a>
    </div>
    
    <div class="container">
        <div id = "section-events">
            <h2>Scopri i nostri eventi</h2>
            <h3>Potresti conoscere il tuo nuovo amico a quattro zampe!</h3>
            <img src="./assets/images/cover-events.jpg" class="polaroid" alt="un cane e un ragazzo seduti vicino ad un lago">
            <p>Il rifugio organizza periodicamente eventi aperti a tutti, pensati per avvicinare la comunità agli animali e al loro benessere. Sono occasioni per partecipare alla vita del rifugio, conoscere da vicino i nostri ospiti e contribuire al loro sostegno in modo piacevole e coinvolgente.</p>
            
            <img src="./assets/images/rope.svg" id="rope" alt="">
            <div id="events-list">

                <div class="polaroid">
                    [imgEvent1]
                    <dl>
                        <dt>[TitleEvent1]</dt>
                        <dd>[DayEvent1]</dd>
                        <dd>[LocationEvent1]</dd>
                    </dl>
                </div>

                <div class="polaroid">
                    [imgEvent2]
                    <dl>
                        <dt>[TitleEvent2]</dt>
                        <dd>[DayEvent2]</dd>
                        <dd>[LocationEvent2]</dd>
                    </dl>
                </div>

                <div class="polaroid">
                    [imgEvent3]
                    <dl>
                        <dt>[TitleEvent3]</dt>
                        <dd>[DayEvent3]</dd>
                        <dd>[LocationEvent3]</dd>
                    </dl>
                </div>


                <div class="polaroid">
                    [imgEvent4]
                    <dl>
                        <dt>[TitleEvent4]</dt>
                        <dd>[DayEvent4]</dd>
                        <dd>[LocationEvent4]</dd>
                    </dl>
                </div>

            </div>

        </div>
        <a href="./eventi" class="brown-button">Guarda tutti gli eventi →</a>
    </div>
    
    <div class="container">
        <h2>I nostri sostenitori</h2>
    </div>
    <div id="sponsor">
        <div class="column-container">
            <img src="./assets/images/archimedeCard.png" alt="logo archimede card" />
            <img src="./assets/images/paolottiExpress.png" alt="logo paolotti express" />
            <img src="./assets/images/pollaioPay.png" alt="logo pollaio pay" />
            <img src="./assets/images/revuzzatti.png" alt="logo revuzzatti" />
            <img src="./assets/images/satispd.png" alt="logo satis-PD" />
            <img src="./assets/images/gaggipay.png" alt="logo gaggipay" />
            <!-- TODO: manca l'ancora -->
        </div>
    </div>
    <div class="container">
        <a href="./lavora-con-noi" class="brown-button">Vuoi diventare nostro sostenitore? →</a>
    </div>

    <div id="affidamento-home">
        <div class="column-container">
            <div id="content-affidamento">
                <h2>Vorresti affidarci un animale?</h2>
                <p>Compila il modulo con tutte le informazioni richieste. Riceverai un nostro riscontro via mail, indicativamente entro 2 settimane.</p>
                <p>Dubbi o problemi? valuta di <a href="mailto:matchpet48@gmail.com" target="_blank">contattarci</a></p>
            </div>
            <form method="post" action="home" id="form-affidamento">
                <fieldset>
                    <legend>Compila il form, presto verrai contattato!</legend>
                    <div>
                        <label for="name">Nome e Cognome: </label>
                        <input type="text" name="name" id="name" placeholder="Mario Rossi">
                    </div>
                    <div>
                        <label for="email">Email: </label>
                        <input type="email" name="email" id="email" placeholder="nome@esempio.com">
                    </div>
                    
                    <div id="messaggiForm-home">
                        [messaggiForm]
                    </div>

                    <div>
                    <input type="submit" id="sendForm" class="orange-button" value="Invia il Form">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <a href = "#header-menu" class="torna-su-button">
        <img src="./assets/icons/torna-su.svg" class="static" alt="torna su"/>
        <img src="./assets/icons/torna-su.gif" class="active" alt=""/>
    </a>

</main>