<main id = "content">
    <div id = "introduction-home">
        <div class = "column-user">
            <h1>Adotta anche a distanza: 
                <span id = "subtitle"> del trasporto ci occupiamo noi</span>
            </h1>

            <a class = "link-into-text" href = "./come-funziona">→ Voglio sapere come funziona</a>
        </div>
        <div class = "column-user">
            <div id = "main-description">
                    <p>La distanza? È solo un numero!</p>
                    <p>Se hai trovato un amico a quattro zampe che ti ha conquistato, segui le semplici procedure di adozione presenti nella sezione ‘Come funziona’.</p>
                    <p><strong>Ci occuperemo noi di organizzare l’incontro</strong>, nel modo più comodo e accoglente, così che sia speciale sia per te che per il tuo nuovo amico peloso.</p>
                    <p>Non vediamo l’ora di farvi conoscere!</p>
            </div>
        </div>
    </div>
    
</main>