<main id="content">
    <div id="introduction-lavora-con-noi">
        <div class="container"> 
            <div class="column-user">
                <h1>LAVORA CON NOI</h1>
                <p> Che tu sia un <span class="underline"><strong>volontario</strong></span> o che tu voglia diventare un nostro <span class="underline"><strong>sostenitore</strong></span>, sei nel posto giusto! </p>
            </div>
            <div class="column-user">
                <p> 
                    Qui troverai tutte le informazioni di cui hai bisogno per aiutarci a dare una <strong>vita migliore</strong> ai nostri amici a quattro zampe. 
                    Ogni giorno ci prendiamo cura di loro con dedizione: cuccioli che cercano una famiglia, animali feriti che hanno bisogno di tempo per guarire, <strong>compagni fedeli</strong> che aspettano una seconda possibilità.
                </p>
            </div>
        </div>
    </div>

    <div id="come-diventare-volontario">
        <div class="container"> 
            <div class="volontari-layout"> 
                <div class="volontari-text">
                    <h2 class="volontari"> Sei disponibile per fare volontariato?  </h2>
                    <p> 
                        Cerchiamo <strong>veterinari, esperti sanitari</strong> o semplicemente <strong>persone disponibili</strong> a dedicare un po’ del proprio tempo ai nostri amici animali, tenendo loro compagnia finché non trovano una casa tutta per loro. 
                    </p>
                    <p>
                        Molti dei nostri ospiti arrivano da <strong>situazioni difficili</strong>: abbandono, maltrattamento, o semplicemente da famiglie che non potevano più occuparsene. 
                        Qui trovano un luogo sicuro dove poter ricominciare, ma per farlo hanno bisogno di persone pazienti, gentili e disposte a regalare un po’ di affetto.
                    </p>
                    <p>
                        Se senti di poter donare <strong>tempo, professionalità</strong> o anche solo un <strong>sorriso</strong>, il nostro rifugio sarà felice di accoglierti. 
                        Con il tuo aiuto possiamo rendere ogni giornata più leggera per loro, e avvicinarli un passo in più al calore di una vera casa.
                    </p>
                </div>
                <div class="volontari-image"></div>
            </div>
        </div>
    </div>

    <div id="come-diventare-sostenitore">
        <div class="container">
            <div class="sostenitori-layout"> 
                <div class="sostenitori-text">
                    <h1 class="sostenitore">COME DIVENTARE UN NOSTRO SOSTENITORE</h1>
                    <p>
                        Diventare un nostro sostenitore significa offrire un aiuto concreto agli animali che accogliamo ogni giorno. 
                        Puoi farlo con poco, come singola persona che vuole dare un contributo reale, oppure come brand che desidera sostenere un progetto etico e trasparente: 
                        ogni gesto conta. Il tuo supporto ci permette di garantire cure veterinarie, cibo e un ambiente sicuro, ma anche di migliorare gli spazi del rifugio e sviluppare nuove iniziative di sensibilizzazione. 
                        Insieme possiamo costruire un futuro più giusto e amorevole per ogni animale che accoglie la nostra casa.
                    </p>
                </div>
                <div class="sostenitori-image"></div>
            </div>
        </div>
    </div>

    <div id="contatto-sostenitore">
        <div class="container">
            <p>
                Se te la senti di entrare a far parte della nostra piccola grande famiglia, saremo felici di averti con noi. 
                Per ricevere maggiori informazioni, per offrirti come volontario o sotenitore, 
                puoi scriverci direttamente alla nostra email: <strong><a href="mailto:matchpet48@gmail.com" target="_blank" class="email-link">matchpet48@gmail.com</a></strong> saremo lieti di risponderti e guidarti nei primi passi.
            </p>
        </div>
    </div>
</main>