<div id="introduction-lavora-con-noi">
    <div class="container"> 
        <div class="column-user">
            <h1>Lavora con noi</h1>
            <p> Che tu sia un <a href="#inizio-volontari">volontario</a> o che tu voglia diventare un nostro <a href="#inizio-sostenitore">sostenitore</a>, sei nel posto giusto! </p>
        </div>
        <div class="column-user">
            <p> 
                Qui troverai tutte le informazioni di cui hai bisogno per aiutarci a dare una <strong>vita migliore</strong> ai nostri amici a quattro zampe. 
                Ogni giorno ci prendiamo cura di loro con dedizione: cuccioli che cercano una famiglia, animali feriti che hanno bisogno di tempo per guarire, <strong>compagni fedeli</strong> che aspettano una seconda possibilità.
            </p>
        </div>
    </div>
</div>

<section id="come-diventare-volontario" >
    <div class="container"> 
        <div class="volontari-layout"> 
            <div class="lavora-con-noi-text">
                <h2 id="inizio-volontari" tabindex="-1"> Sei disponibile per fare volontariato?  </h2>
                <p> 
                    Cerchiamo <strong>veterinari, esperti sanitari</strong> o semplicemente <strong>persone disponibili</strong> a dedicare un po’ del proprio tempo ai nostri amici animali, tenendo loro compagnia finché non trovano una casa tutta per loro. 
                </p>
                <p>
                    Molti dei nostri ospiti arrivano da <strong>situazioni difficili</strong>: abbandono, maltrattamento, o semplicemente da famiglie che non potevano più occuparsene. 
                    Qui trovano un luogo sicuro dove poter ricominciare, ma per farlo hanno bisogno di persone pazienti, gentili e disposte a regalare un po’ di affetto.
                </p>
                <p>
                    Se senti di poter donare <strong>tempo, professionalità</strong> o anche solo un <strong>sorriso</strong>, il nostro rifugio sarà felice di accoglierti. 
                    Con il tuo aiuto possiamo rendere ogni giornata più leggera per loro, e avvicinarli un passo in più al calore di una vera casa.
                </p>
            </div>
            <div class="lavora-con-noi-img">
                <img src="./assets/images/cane.png" alt="" />
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section id="come-diventare-sostenitore">
        <div class="sostenitori-layout"> 
            <div class="lavora-con-noi-text">
                <h2 id="inizio-sostenitore" tabindex="-1">Come diventare un nostro sostenitore</h2>
                <p>
                    Diventare un nostro sostenitore significa offrire un aiuto concreto agli animali che accogliamo ogni giorno. 
                    Puoi farlo con poco, come singola persona che vuole dare un contributo reale, oppure come <span lang="en">brand</span> che desidera sostenere un progetto etico e trasparente: 
                    ogni gesto conta. 
                </p>
                <p>    
                    Il tuo supporto ci permette di garantire cure veterinarie, cibo e un ambiente sicuro, ma anche di migliorare gli spazi del rifugio e sviluppare nuove iniziative di sensibilizzazione. 
                    Insieme possiamo costruire un futuro più giusto e amorevole per ogni animale che accoglie la nostra casa.
                </p>
            </div>
            <div class="lavora-con-noi-img">
                <img src="./assets/images/sostenitore.jpg" alt="" />
            </div>
        </div>
    </section>
</div>

<section id="contatto-sostenitore">
    <div class="container">
        <p>
            Se te la senti di entrare a far parte della nostra piccola grande famiglia, saremo felici di averti con noi. 
            Per ricevere maggiori informazioni, per offrirti come volontario o sotenitore, 
            puoi scriverci direttamente alla nostra email: <address><a href="mailto:matchpet48@gmail.com" target="_blank" class="email-link">matchpet48@gmail.com</a></address>, saremo lieti di risponderti e guidarti nei primi passi.
        </p>
    </div>
</section>

<a href = "#top-page" class="torna-su-button">
        <img src="./assets/icons/torna-su.svg" class="static" alt="torna su"/>
        <img src="./assets/icons/torna-su.gif" class="active" alt=""/>
</a>