<div id="user-profile">
    <div class="container">
        <h1>Ciao [nome-utente]!</h1>
        <div class="column-container">
            <fieldset class="tabs-container">
                <legend>area gestione richieste</legend>

                <input type="radio" name="tab-group" id="tab1" class="sr-only" [tabAvvisi]/>
                <label for="tab1">Avvisi</label>
                
                <input type="radio" name="tab-group" id="tab2" class="sr-only" [tabRichieste]/>
                <label for="tab2">Richieste</label>

                <!-- primo tab -->
                <section class="tab-content">
                    <h2 id="ultimi-movimenti">Ultimi movimenti</h2>

                    <form method="GET">
                        <div>
                            <label for="request-state-movement">Filtra per:</label>
                            <select name="state-avvisi" id="request-state-movement">
                                <option value="all">Tutte</option>
                                <option value="Nuova">Nuove</option> <!-- conclusa, l'animale è suo -->
                                <option value="Accettata">Accettate</option> <!-- conclusa, l'animale è suo -->
                                <option value="In valutazione">In valutazione</option> <!-- si sta valutando se darlo a lui -->
                                <option value="Da trasportare">In trasporto</option> <!-- è in viaggio per arrivare a casa -->
                                <option value="Respinta">Respinte</option> <!-- l'utente è stato scartato da un admin -->
                                <option value="Annullata">Annullate</option> <!-- l'utente ha annullato la richiesta -->
                            </select>
                            <button type="submit">Applica</button>
                        </div>
                    </form>

                    [lista avvisi]
                </section>

                <section class="tab-content">
                    <h2 id="ultime-richieste">Le tue richieste</h2>
                    <form method="GET">
                        <div>
                            <label for="request-state-richieste">Filtra per:</label>
                            <select name="state-richieste" id="request-state-richieste">
                                <option value="all">Tutte</option>
                                <option value="Aperte">Aperte</option> <!-- aperta, in valutazione -->
                                <option value="Chiuse">Chiuse</option> <!-- accettata, respinta, annullata, in trasporto -->
                            </select>
                            <button type="submit">Applica</button>
                        </div>
                    </form>

                    [lista richieste]
                    
                </section>
                
            </fieldset>
            
            <div id="user-info">
                [UserInfoSostituzione]
        </div>
    </div>
</div>