<div id="revisione-richiesta" class="container">
    <h1>Adozione per [nomeAnimale]</h1>
    <div class="column-container">
        <div>
            <section id="info-request">
                <h2>La tua domanda</h2>
                <dl aria-label="Dettagli richiesta inviata">
                    <dt>Data richiesta: </dt>
                    <dd>[dataRichiesta]</dd>
                    [DataFineRichiesta]
                    <dt>Lettera di presentazione: </dt>
                    <dd>[letteraPresentazione]</dd>
                    <dt>Trasporto: </dt>
                    <dd>[richiestaTrasporto]</dl>
                </dl>
            </section>
            <section id="state-request">
                <h2>Stato della richiesta</h2>
                <dl>
                    <dt>Stato:</dt>
                    <dd>[StatoRichiesta]</dd>
                    <dt>Data inizio valutazione:</dt>
                    <dd>[DataInizio]</dd>
                    [DataFineRichiesta] 
                    [dataPartenza]
                    [dataArrivo]
                </dl>
            </section>
        </div>
        [cardAnimal]
    </div>

    [messaggiForm]

    <form method="post" action="#info-animal">
        <button type="submit" name="show-dialog" class="button-cancel" [isDisabled]>Annulla richiesta</button>
    </form>

    <dialog [openDialog] class="overlay-content">
        <div class="dialog-box">
            <h3 id="modal-title">Sei sicuro?</h3>
            <p>L'annullamento della richiesta per <em>[nomeAnimale]</em> è <strong>irreversibile</strong>.</p>
            
            <div class="dialog-buttons">
                <form method="post" action="#info-animal">
                    <button type="submit" name="close-dialog" class="button-cancel">No, tienila</button>
                </form>
                
                <form method="post">
                    <button type="submit" name="delete-request" >Si, annulla</button>
                </form>
            </div>
        </div>
    </dialog>

</div>