<div id="visualizzazione-animale" class="container">
    <section class="column-container">
        <h1 id="titolo-dettagli-animale">Dettagli animale</h1>
        [CONTATTACI]
    </section>
    <div class="column-container">
        <div class="dettagli-animale">
            <h2>Informazioni generiche</h2>
            <div id='info-generiche'>
                [INTERESSAMENTO-ANIMALE]
                <div class="info-animale">
                    [CARDANIMALE1]
                </div>
                [INFO-AGGIUNTIVE]
            </div>
        </div>
        <div class="dettagli-animale">
         [CARDANIMALE2]
        </div>

    </div>
</div>
<div class="adozione-status">
    [ADOZIONE_STATUS]
</div>

