<div id="admin-area">
    <h1>Ciao [nomeAdmin]!</h1> <!--TODO -->
    <article id="">
        <h2>DA COMPLETARE</h2>
        <ul id="to-do-list">
            <li>
                <a href="">
                    <p class="n-query">[n]</p>
                    <p class="query-type">ANIMALI SENZA ADMIN</p>
                </a>
            </li>
            <li>
                <a href="" >
                    <p class="n-query">[n]</p>
                    <p class="query-type">ANIMALI SENZA ADMIN</p>
                </a>
            </li>
            <li>
                <a href="" >
                    <p class="n-query">[n]</p>
                    <p class="query-type">ANIMALI SENZA ADMIN</p>
                </a>
            </li>
            <li>
                <a href="" >
                    <p class="n-query">[n]</p>
                    <p class="query-type">ANIMALI SENZA ADMIN</p>
                </a>
            </li>
            <li>
                <a href="" >
                    <p class="n-query">[n]</p>
                    <p class="query-type">ANIMALI SENZA ADMIN</p>
                </a>
            </li>
        </ul>
        
    </article>
    <article>
        <h2>LE TUE STATISTICHE</h2>
    </article>
    <article>
        <h2>LE TUE INFORMAZIONI</h2>
    </article>
</div>