<div id="admin-area">
    <h1>Ciao [nomeAdmin]!</h1>
    [messaggioSuccesso]
    <article id="query">
        <h2>Da completare</h2>
        [to-do-list]
    </article >
    <div id="row2-container">
    <div id="row2">
        <article id="statistics-area">
            <h2 id="title-statistiche">Le tue statistiche</h2>
            [stats]
        </article>
        <article id="admin-info">  
            <div class="header-info">
                [titolo]
                <a href="?mode=edit#admin-info" class="edit-admin-info pencil">
				    <img src="./assets/icons/edit-pencil.svg" alt="Modifica informazioni">
                </a>
            </div>
            <div class="generic-info-container">
                <img src="[imgPath]" alt="Foto" class="circle-foto">
                [admin-info]
            </div>
        </article>
    </div>
    </div>
</div>