<div id="admin-area">
    <h1>Informazioni animale</h1>
    <div id="animal-container">
        <article id="info-animale-admin">
            <div class="generic-info-container">
                [pulsanti-modifica-animale]
                <img src="[animalImgPath]" alt="Foto di [nomeAnimale]" class="square-foto">
                    
                <div class="text-details">
                    <dl>
                        <dt>Nome</dt><dd>[nomeAnimale]</dd>
                        <dt>Sesso</dt><dd>[sessoAnimale]</dd>
                        <dt>Età</dt><dd>[etaAnimale]</dd>
                        <dt>Razza</dt><dd>[razzaAnimale]</dd>
                        <dt>Pelo</dt><dd>[peloAnimale]</dd> 
                        <dt>Taglia</dt><dd>[tagliaAnimale]</dd>
                        <dt>Colore</dt><dd>[coloreAnimale]</dd>
                    </dl>
                </div>
            </div>

            <div id="other-info-container">
                <dl>
                    <dt>Idoneo al trasporto</dt><dd>[trasportoAnimale]</dd>
                    <dt>Condizioni mediche</dt><dd>[condizioniMediche]</dd>
                    <dt>Descrizione caratteriale</dt><dd>[descrizioneCaratteriale]</dd>
                    <dt>Famiglia ideale</dt><dd>[famigliaIdeale]</dd>
                </dl>
            </div>
        </article>

        <article id="visualizza-richieste-animale">
            <section class="tabs-container">
                <fieldset>
                    <legend id="title-richieste">Richieste per questo animale</legend>

                    <label class="no-visible" for="anim-tab1">Nuove</label>
                    <label class="no-visible" for="anim-tab2">In valutazione</label>
                    <label class="no-visible" for="anim-tab3">Accettate</label>
                    <label class="no-visible" for="anim-tab4">Respinte</label>
                    <label class="no-visible" for="anim-tab5">Annullate</label>
                    <label class="no-visible" for="anim-tab6">Da trasportare</label>

                    <select id="filtri-richieste" name="tab-group-select" 
                            aria-label="Selezionare la tipologia di richieste che si vuole visualizzare:"
                            onchange="document.getElementById(this.value).checked = true;">
                        <option value="anim-tab1">Nuove ([n-nuove])</option>
                        <option value="anim-tab2">In valutazione ([n-valutazione])</option>
                        <option value="anim-tab3">Accettate ([n-accettate])</option>
                        <option value="anim-tab4">Respinte ([n-respinte])</option>
                        <option value="anim-tab5">Annullate ([n-annullate])</option>
                        <option value="anim-tab6">Da trasportare ([n-trasporto])</option>
                    </select>
                </fieldset>

                <input class="no-visible" aria-hidden="true" type="radio" id="anim-tab1" name="anim-tab-group" checked>
                <input class="no-visible" aria-hidden="true" type="radio" id="anim-tab2" name="anim-tab-group">
                <input class="no-visible" aria-hidden="true" type="radio" id="anim-tab3" name="anim-tab-group">
                <input class="no-visible" aria-hidden="true" type="radio" id="anim-tab4" name="anim-tab-group">
                <input class="no-visible" aria-hidden="true" type="radio" id="anim-tab5" name="anim-tab-group">
                <input class="no-visible" aria-hidden="true" type="radio" id="anim-tab6" name="anim-tab-group">

                [elencoRichieste]
                
                <a href="#filtri-richieste" class="sr-only">Torna al filtro richieste</a>
            </section>
        </article>
    </div>
</div>