<div id="admin-area">
    <h1>Dettagli richiesta di adozione</h1>
    [di chi]
    <div id="top-container">
        [stato-trasporto]
        [pulsanti-azioni-richiesta]
    </div>
    <div id="details-container">
        
        <div class="tabs-container">
            
            <div class="tab">
                <button id="tab-richiesta" class="tablinks active" onclick="openTab(event, 'Richiesta')"><h2>INFORMAZIONI RICHIESTA</h2></button>
                <button id="tab-richiedente" class="tablinks" onclick="openTab(event, 'Richiedente')"><h2>INFORMAZIONI RICHIEDENTE</h2></button>
            </div>

            <article id="Richiesta" class="tabcontent" style="display: block;">
                <ul>
                    <li><strong>Stato richiesta:</strong> [stato]</li>
                    <li><strong>Data richiesta:</strong> [data]</li>
                    [dataInizioValutazione]
                    [dataFineValutazione]
                    [dataRichiestaRespinta]
                    <li><strong>Lettera di presentazione:</strong> [contenutoLettera]</li>
                    <li><strong>Trasporto:</strong> [trasporto]</li>
                </ul>
            </article>

            <article id="Richiedente" class="tabcontent">
                <div class="generic-info-container">
                    <img src="[imgPath]" alt="Foto di [nome]" class="circle-foto">
                    
                    <div class="text-details">
                        <ul>
                            <li><strong>Nome:</strong> [nome]</li>
                            <li><strong>Cognome:</strong> [cognome]</li>
                            <li><strong>Telefono:</strong> [telefono]</li>
                            <li><strong>Email:</strong> [email]</li>
                            <li><strong>Indirizzo:</strong> [indirizzo]</li>
                        </ul>
                    </div>
                </div>

                <p id="altre-richieste">Ha altre <strong>[n]</strong> richieste in corso di valutazione</p>
                <a href="[paginaRichiedente]" class="orange-button">Vedi profilo</a>
            </article>
            
        </div> 
        <div id="animal-container">
            <h2>INFORMAZIONI ANIMALE</h2>
            <article id="animale-richiesta">
                <div class="generic-info-container">
                    <img src="[animalImgPath]" alt="Foto di [nomeAnimale]" class="square-foto">
                    
                    <div class="text-details">
                        <ul>
                            <li><strong>Nome:</strong> [nomeAnimale]</li>
                            <li><strong>Sesso:</strong> [sessoAnimale]</li>
                            <li><strong>Età:</strong> [etaAnimale]</li>
                            <li><strong>Razza:</strong> [razzaAnimale]</li>
                            <li><strong>Trasporto:</strong> [trasportoAnimale]</li>
                        </ul>
                    </div>
                </div>
                <a href="[paginaAnimale]" class="orange-button">Vedi animale</a>
                <div id="other-info-container">
                    <ul>
                        <li><strong>Famiglia ideale:</strong> [famigliaIdeale]</li>
                        <li><strong>Condizioni mediche:</strong> [condizioniMediche]</li>
                        <li><strong>Descrizione caratteriale:</strong> [descrizioneCaratteriale]</li>
                    </ul>
                </div>
            </article>

        </div>

        
    </div> 
    <div id="bottom-container">
        [annotazioni]
        [scarta-richiesta]
    </div>
</div>