<div id="admin-area">
    <h1>Dettagli richiesta di adozione</h1>
    [di chi]
    <div id="top-container">
        [stato-trasporto]
        [pulsanti-azioni-richiesta]
    </div>
    <div id="details-container">
        
        <div class="tabs-container">
            <input id="tab1" class="sr-only" type="radio" name="tab-group" checked>
            <label for="tab1"><h2>Informazioni richiesta</h2></label>
            <input id="tab2" class="sr-only" type="radio" name="tab-group">
            <label for="tab2"><h2>Informazioni richiedente</h2></label>
            <article id="Richiesta" class="tab-content">
                <dl>
                    <dt>Stato richiesta</dt><dd>[stato]</dd>
                    <dt>Data richiesta</dt><dd>[data]</dd>
                    [dataInizioValutazione]
                    [dataFineValutazione]
                    [dataRichiestaRespinta]
                    <dt class="full-width">Lettera di presentazione</dt><dd>[contenutoLettera]</dd>
                    <dt>Trasporto</dt><dd>[trasporto]</dd>
                </dl>
            </article>

            <article id="Richiedente" class="tab-content">
                <div class="generic-info-container">
                    <img src="[imgPath]" alt="Foto di [nome]" class="circle-foto">
                    
                    <div class="text-details">
                        <dl>
                            <dt>Nome</dt><dd>[nome]</dd>
                            <dt>Cognome</dt><dd>[cognome]</dd>
                            [telefono-richiedente]
                            <dt>Email</dt><dd>[email]</dd>
                            [indirizzo-richiedente]
                        </dl>
                    </div>
                </div>

                <p id="altre-richieste">Ha altre <strong>[n]</strong> richieste in corso di valutazione</p>
                <form method="POST" action="[paginaRichiedente]">
                    <input type="hidden" name="id-animale" value="[animalID]">
                    <button type="submit" name="view-profile" class="brown-button">Vedi profilo</button>
                </form>
                <!-- <a href="[paginaRichiedente]" class="brown-button">Vedi profilo</a> -->
            </article>
            
        </div> 
        <div id="animal-container">
            <h2>Informazioni animale</h2>
            <article id="animale-richiesta">
                <div class="generic-info-container">
                    <img src="[animalImgPath]" alt="Foto di [nomeAnimale]" class="square-foto">
                    
                    <div class="text-details">
                        <dl>
                            <dt>Nome</dt><dd>[nomeAnimale]</dd>
                            <dt>Sesso</dt><dd>[sessoAnimale]</dd>
                            <dt>Età</dt><dd>[etaAnimale]</dd>
                            <dt>Razza</dt><dd>[razzaAnimale]</dd>
                            <dt>Idoneo al trasporto</dt><dd>[trasportoAnimale]</dd>
                        </dl>
                    </div>
                </div>
                <a href="[paginaAnimale]" class="brown-button">Vedi animale</a>
                <div id="other-info-container">
                    <dl>
                        <dt>Famiglia ideale</dt><dd>[famigliaIdeale]</dd>
                        <dt>Condizioni mediche</dt><dd>[condizioniMediche]</dd>
                        <dt>Descrizione caratteriale</dt><dd>[descrizioneCaratteriale]</dd>
                    </dl>
                </div>
            </article>

        </div>

        
    </div> 
    <div id="bottom-container">
        [annotazioni]
        [scarta-richiesta]
    </div>
</div>