<div id="admin-area">
    <h1>Informazioni animale</h1>
    <div class="column-container" id="dettaglio-animale">
        <article id="animale-detailed-container">
            <div class="generic-info-container">
                <div class="action-buttons-group">
                    [pulsante-elimina-animale]
                    [pulsanti-modifica-animale]
                </div>

                <dialog [openDialog] class="overlay-content" aria-labelledby="modal-title">
                    <div class="dialog-box">
                        <p id="modal-title" aria-hidden="true"><strong>Conferma eliminazione</strong></p>
                        <p>L'eliminazione di <strong>[nomeAnimale]</strong> è <strong>irreversibile</strong>. Vuoi continuare?</p>
                        <div class="dialog-buttons">
                            <form method="post">
                                <button type="submit" name="close-dialog" class="button-cancel">No, annulla</button>
                            </form>
                            <form method="post">
                                <button type="submit" name="delete-animale">Si, elimina</button>
                            </form>
                        </div>
                    </div>
                </dialog>
                
                <div id="container-animal-details">
                    <img src="[animalImgPath]" alt="Foto di [nomeAnimale]" class="square-foto" />

                    <div class="text-details">
                        <dl>
                            <dt><abbr title="Identificativo">Id</abbr></dt><dd>[idAnimale]</dd>
                            <dt>Nome</dt><dd>[nomeAnimale]</dd>
                            <dt>Sesso</dt><dd>[sessoAnimale]</dd>
                            <dt>Età</dt><dd>[etaAnimale]</dd>
                            <dt>Razza</dt><dd>[razzaAnimale]</dd>
                            <dt>Pelo</dt><dd>[peloAnimale]</dd> 
                            <dt>Taglia</dt><dd>[tagliaAnimale]</dd>
                            <dt>Colore</dt><dd>[coloreAnimale]</dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="description-info-container">
                <dl>
                    <dt>Idoneo al trasporto</dt><dd>[trasportoAnimale]</dd>
                    <dt>Condizioni mediche</dt><dd>[condizioniMediche]</dd>
                    <dt>Descrizione caratteriale</dt><dd>[descrizioneCaratteriale]</dd>
                    <dt>Famiglia ideale</dt><dd>[famigliaIdeale]</dd>
                </dl>
            </div>
        </article>

        <div id="content-manage">
            [pulsante-assegnazione]
            <article id="visualizza-richieste-animale">
                <section class="tabs-container">
                    <fieldset>
                        <legend id="title-richieste-animale">Richieste per questo animale</legend>
                        
                        <select id="filtri-richieste-animale" name="tab-group-select" 
                                aria-label="Selezionare la tipologia di richieste che si vuole visualizzare:">
                            <option id="anim-tab1">Nuove ([n-nuove])</option>
                            <option id="anim-tab2">In valutazione ([n-valutazione])</option>
                            <option id="anim-tab3">Accettate ([n-accettate])</option>
                            <option id="anim-tab4">Respinte ([n-respinte])</option>
                            <option id="anim-tab5">Annullate ([n-annullate])</option>
                            <option id="anim-tab6">Da trasportare ([n-trasporto])</option>
                        </select>
                    </fieldset>
                    [elencoRichieste]
                </section>
            </article>
        </div>
    </div>
</div>