<div id="admin-area-aggiungi">
    <form method="post" id="form-edit-animal" enctype="multipart/form-data" novalidate>
        <h1>Modifica Animale: [nome]</h1>
        <div class="message-container">[erroriGeneric]</div>
        
        <input type="hidden" name="idAnimale" value="[idAnimale]">

        <fieldset>
            <legend>Tipologia di animale - Non modificabile</legend>
            <div class="radio-group-cg disabled-group">
                <input type="radio" name="tipologia_dummy" id="cane" value="0" [tipoCane_checked] disabled>
                <label for="cane" class="radio-card">Cane</label>

                <input type="radio" name="tipologia_dummy" id="gatto" value="1" [tipoGatto_checked] disabled>
                <label for="gatto" class="radio-card">Gatto</label>
                
                <input type="hidden" name="tipologia" value="[valoreTipologia]">
            </div>
        </fieldset>

        <fieldset>
            <legend>Informazioni animale</legend>
            <div class="column-container">
                <div class="column-user">
                    <div>
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" id="nome" placeholder="Nome" value="[nome]">
                        <p class="error-form">[erroriNome]</p>
                    </div>

                    <div>
                        <label for="razza">Razza</label>
                        <input type="text" name="razza" id="razza" placeholder="Razza" value="[razza]">
                        <p class="error-form">[erroriRazza]</p>
                    </div>

                    <label for="taglia">Taglia</label>
                    <select name="taglia" id="taglia">
                        <option value="Piccolo" [tagliaPiccola_selected]>Piccola</option>
                        <option value="Medio" [tagliaMedia_selected]>Media</option>
                        <option value="Grande" [tagliaGrande_selected]>Grande</option>
                    </select>
                    <p class="error-form">[erroriTaglia]</p>

                    <p class="sex-title">Sesso - Non modificabile</p>
                    <div class="sex-group disabled-group">
                        <label class="sex-option">
                            <input type="radio" name="sesso_dummy" id="Maschio" value="0" [sessoM_checked] disabled>
                            <span>Maschio</span>
                        </label>

                        <label class="sex-option">
                            <input type="radio" name="sesso_dummy" id="Femmina" value="1" [sessoF_checked] disabled>
                            <span>Femmina</span>
                        </label>
                        <input type="hidden" name="sesso" value="[valoreSesso]">
                    </div>
                    
                    <span id="label-foto">Modifica foto (lascia vuoto per mantenere quella attuale)</span>
                    <label for="foto" class="file-upload-label">
                        <span class="file-upload-text">Trascina una nuova immagine per sostituire</span>
                        <input type="file" id="foto" name="foto" accept=".jpg, .jpeg, .png">
                        <div class="foto-caricata-info">
                            Attuale: [nomeFotoAttuale]
                        </div>
                    </label>

                    <div class="transport-wrapper">
                        <label class="checkbox-label">
                            Disponibile al trasporto
                            <input type="checkbox" name="trasporto" id="trasporto" value="1" [trasporto_checked]>
                        </label>
                    </div> 
                </div>

                <div class="column-user">
                    <div>
                        <label for="dataNascita">Data di Nascita: </label>
                        <input type="date" name="dataNascita" id="dataNascita" value="[dataNascita]">
                        <p class="error-form">[erroriDataNascita]</p>
                    </div>

                    <label for="pelo">Pelo</label>
                    <select name="pelo" id="pelo">
                        <option value="Corto" [peloCorto_selected]>Corto</option>
                        <option value="Medio" [peloMedio_selected]>Medio</option>
                        <option value="Lungo" [peloLungo_selected]>Lungo</option>
                    </select>  
                    <p class="error-form">[erroriPelo]</p>
                    
                    <div>
                        <label for="colore">Colore</label>
                        <input type="text" name="colore" id="colore" placeholder="Colore" value="[colore]">
                        <p class="error-form">[erroriColore]</p>
                    </div>

                    <div>
                        <label for="condMediche">Condizioni mediche: </label>
                        <textarea id="condMediche" name="condMediche">[condMediche]</textarea>
                        <p class="error-form">[erroriCondMediche]</p>
                    </div>

                    <div id="div-carattere">
                        <label for="carattere">Descrizione caratteriale: </label>
                        <textarea id="carattere" name="carattere">[carattere]</textarea>
                        <p class="error-form">[erroriCarattere]</p>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Informazioni famiglia</legend>
            <div>
                <label for="famiglia">Famiglia ideale: </label>
                <textarea id="famiglia" name="famiglia">[famiglia]</textarea>
                <p class="error-form">[erroriFamiglia]</p>
            </div>
        </fieldset>   

        <div class="form-buttons-container">
            <a href="./area-riservata.php" id="cancel-edit-animal">Annulla</a>
            <button type="submit" name="submit-edit-animal">Salva Modifiche</button>
        </div>

    </form>
</div>