<div id="admin-area">
    <form method="post" id="form-add-animal" enctype="multipart/form-data" novalidate>
        <h1>AGGIUNGI UN ANIMALE</h1>
        <fieldset>
            <legend>Tipologia di animale</legend>
            <div>
                <input type="radio" name="tipologia" id="Cane" value="0" required>
                <label for="Cane">Cane</label>
                <input type="radio" name="tipologia" id="Gatto" value="1">
                <label for="Gatto">Gatto</label>
                <p class="error-form">[erroriTipologia]</p>
            </div>
        </fieldset>

        <fieldset>
            <legend>Informazioni animale</legend>
                <div class="column-container">
                    <div>
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" id="nome" placeholder="Nome" autocomplete="nome" value="[valNome]">
                        <p class="error-form">[erroriNome]</p>
                    </div>

                    <div>
                        <label for="razza">Razza</label>
                        <input type="text" name="razza" id="razza" placeholder="Razza" autocomplete="razza" value="[valRazza]">
                        <p class="error-form">[erroriRazza]</p>
                    </div>

                    <label for="taglia">Taglia</label>
                    <select name="taglia" id="taglia" value="[valTaglia]">
                        <option value="" disabled selected>Seleziona un'opzione</option>
                        <option value="Piccola">Piccola</option>
                        <option value="Media">Media</option>
                        <option value="Grande">Grande</option>
                        <p class="error-form">[erroriTaglia]</p>
                    </select>

                    <p>Sesso</p>
                    <div>
                        <input type="radio" name="sesso" id="Maschio" value="0" required>
                        <label for="Maschio">Maschio</label>
                        <input type="radio" name="sesso" id="Femmina" value="1">
                        <label for="Femmina">Femmina</label>
                        <p class="error-form">[erroriSesso]</p>
                    </div>
                    
                    <label for="foto">Foto:</label>
                    <input type="file" id="foto" name="foto" accept="image/*" disabled>
                </div>

                <div class="column-container">
                    <div>
                        <label for="dataNascita">Data di Nascita: </label>
                        <input type="date" name="dataNascita" id="dataNascita" autocomplete="Data di nascita" value="[valData]">
                        <p class="error-form">[erroriDataNascita]</p>
                    </div>

                    <label for="pelo">Pelo</label>
                    <select name="pelo" id="pelo" value="[valPelo]">
                        <option value="" disabled selected>Seleziona un'opzione</option>
                        <option value="Corto">Corto</option>
                        <option value="Lungo">Lungo</option>
                        <option value="Misto">Misto</option>
                    </select>      
                    
                    <div>
                        <label for="colore">Colore</label>
                        <input type="text" name="colore" id="colore" placeholder="Colore" autocomplete="colore" value="[valColore]">
                        <p class="error-form">[erroriTesto]</p>
                    </div>

                    <div>
                        <label for="condMediche">Condizioni mediche: </label>
                        <textarea id="condMediche" name="condMediche" placeholder="Inserire testo">[valCondizioni]</textarea>
                        <p class="error-form">[erroriCondMediche]</p>
                    </div>

                    <div>
                        <label for="caratteree">Descrizione caratteriale: </label>
                        <textarea id="carattere" name="carattere" placeholder="Inserire testo">[valCarattere]</textarea>
                        <p class="error-form">[erroriCarattere]</p>
                    </div>
                </div>

            </div>
        </fieldset>

        <fieldset>
            <legend>Informazioni famiglia</legend>
            <div>
                <label for="famiglia">Famiglia ideale: </label>
                <textarea id="famiglia" name="famiglia" placeholder="Inserire testo">[valFamiglia]</textarea>
                <p class="error-form">[erroriFamiglia]</p>
            </div>
        </fieldset>    

        <div>
            <button type="submit-animal" name="submit" class="white-button">Salva</button>
            <button type="reset" name="reset" class="green-button">Annulla</button>
        </div>
    </form>
</div>