<div id="admin-area">
    <h1>Richieste di adozione</h1>

    <nav class="tab tab-mini" aria-label="Tipi di richieste di adozione">
        <button class="tablinks active" onclick="openTab(event, 'Nuove')"><h2>NUOVE ([n-nuove])</h2></button>
        <button class="tablinks" onclick="openTab(event, 'InValutazione')"><h2>IN VALUTAZIONE ([n-in-valutazione])</h2></button>
        <button class="tablinks" onclick="openTab(event, 'DaTrasportare')"><h2>DA TRASPORTARE ([n-da-trasportare])</h2></button>
        <button class="tablinks" onclick="openTab(event, 'Annullate')"><h2>ANNULLATE ([n-annullate])</h2></button>
        <button class="tablinks" onclick="openTab(event, 'Respinte')"><h2>RESPINTE ([n-respinte])</h2></button>
    </nav>
    
    <article class="tab-richieste tabcontent" id="Nuove">
        <span id="sumTabellaNuove" class="navigationHelp">In questa tabella vengono elencate le nuove richieste di adozione e i loro dettagli: email utente, nome animale e data di richiesta.</span>
        <table aria-describedby="sumTabellaNuove">
            <caption>Nuove Richieste di Adozione</caption>

                <thead>
                    <tr>
                        <th scope="col">ANIMALE</th>
                        <th scope="col">UTENTE</th>
                        <th scope="col">DATA RICHIESTA</th>
                        <!-- forse ci va un'altra colonna per il button dettagli, per ora la metto poi capisco come gestire -->
                        <th scope="col" class="col-dettagli">Dettagli</th>
                    </tr>
                </thead>
                [tbody-nuove-richieste]
                <tfoot>
                    <tr>
                        <th colspan="3">Totale nuove richieste</th>
                        <td>[n-nuove]</td>
                    </tr>
                </tfoot>
        </table>
    </article>
    
    <article id="InValutazione" class="tabcontent tab-richieste">
        <!-- come quella delle nuove richieste ma email richiedente, animale, data accettazione,  appunti (si o no), button dettagli -->
         <span id="sumTabellaInValutazione" class="navigationHelp">In questa tabella vengono elencate le richieste di adozione in valutazione e i loro dettagli: email utente, nome animale, data di inizio valutazione e presenza di appunti.</span>
        <table aria-describedby="sumTabellaInValutazione">
            <caption>Richieste di Adozione in Valutazione</caption>

                <thead>
                    <tr>
                        <th scope="col">ANIMALE</th>
                        <th scope="col">UTENTE</th>
                        <th scope="col">DATA INIZIO VALUTAZIONE</th>
                        <th scope="col">APPUNTI</th>
                        <!-- forse ci va un'altra colonna per il button dettagli, per ora la metto poi capisco come gestire -->
                        <th scope="col" class="col-dettagli">Dettagli</th>
                    </tr>
                </thead>
                [tbody-in-valutazione-richieste]
                <tfoot>
                    <tr>
                        <th colspan="4">Totale richieste in valutazione</th>
                        <td>[n-in-valutazione]</td>
                    </tr>
                </tfoot>
        </table>
    </article>
    
    <article id="DaTrasportare" class="tabcontent tab-richieste">
        <span id="sumTabellaDaTrasportare" class="navigationHelp">In questa tabella vengono elencate le richieste di adozione da trasportare e i loro dettagli: email utente, nome animale, data di fine valutazione.</span>
        <table aria-describedby="sumTabellaDaTrasportare">
            <caption>Richieste di Adozione da Trasportare</caption>

                <thead>
                    <tr>
                        <th scope="col">ANIMALE</th>
                        <th scope="col">UTENTE</th>
                        <th scope="col">DATA ACCETTAZIONE</th>
                        <th scope="col">DATA ARRIVO</th>
                        <!-- forse ci va un'altra colonna per il button dettagli, per ora la metto poi capisco come gestire -->
                        <th scope="col" class="col-dettagli">Dettagli</th>
                    </tr>
                </thead>
                [tbody-da-trasportare-richieste]
                <tfoot>
                    <tr>
                        <th colspan="4">Totale richieste da trasportare</th>
                        <td>[n-da-trasportare]</td>
                    </tr>
                </tfoot>
        </table>
    </article>

    <article id="Annullate" class="tabcontent tab-richieste">
        <span id="sumTabellaAnnullate" class="navigationHelp">In questa tabella vengono elencate le richieste di adozione annullate e i loro dettagli: email utente, nome animale e data di annullamento.</span>
        <table aria-describedby="sumTabellaAnnullate">
            <caption>Richieste di Adozione Annullate</caption>

                <thead>
                    <tr>
                        <th scope="col">ANIMALE</th>
                        <th scope="col">UTENTE</th>
                        <th scope="col">DATA ANNULLAMENTO</th>
                        <!-- forse ci va un'altra colonna per il button dettagli, per ora la metto poi capisco come gestire -->
                        <th scope="col" class="col-dettagli">Dettagli</th>
                    </tr>
                </thead>
                [tbody-annullate-richieste]
                <tfoot>
                    <tr>
                        <th colspan="3">Totale richieste annullate</th>
                        <td>[n-annullate]</td>
                    </tr>
                </tfoot>
        </table>
    </article>

    <article id="Respinte" class="tabcontent tab-richieste">
        <span id="sumTabellaRespinte" class="navigationHelp">In questa tabella vengono elencate le richieste di adozione respinte e i loro dettagli: email utente, nome animale e data di respinta.</span>
        <table aria-describedby="sumTabellaRespinte">
            <caption>Richieste di Adozione Respinte</caption>

                <thead>
                    <tr>
                        <th scope="col">ANIMALE</th>
                        <th scope="col">UTENTE</th>
                        <!-- forse ci va un'altra colonna per il button dettagli, per ora la metto poi capisco come gestire -->
                        <th scope="col" class="col-dettagli">Dettagli</th>
                    </tr>
                </thead>
                [tbody-respinte-richieste]
                <tfoot>
                    <tr>
                        <th colspan="2">Totale richieste respinte</th>
                        <td>[n-respinte]</td>
                    </tr>
                </tfoot>
        </table>
    </article>
</div>