<div id="admin-area">
    <h1>Richieste di adozione</h1>

    <div class="tab">
        <button id="tab-nuove" class="tablinks active" onclick="openTab(event, 'Nuove')"><h2>NUOVE ([n-nuove])</h2></button>
        <button id="tab-in-valutazione" class="tablinks" onclick="openTab(event, 'InValutazione')"><h2>IN VALUTAZIONE ([n-in-valutazione])</h2></button>
        <button id="tab-da-trasportare" class="tablinks" onclick="openTab(event, 'DaTrasportare')"><h2>DA TRASPORTARE ([n-da-trasportare])</h2></button>
        <button id="tab-respinte" class="tablinks" onclick="openTab(event, 'Respinte')"><h2>RESPINTE ([n-respinte])</h2></button>
    </div>
</div>