<div id="admin-area">
    <h1>Richieste di adozione</h1>

    <div id="richieste" class="tabs-container tab-mini" aria-label="Tipi di richieste di adozione">
        [tabs-richieste-adozione]
        <article class="tab-content tab1">
            [contenuto-nuove-richieste]
        </article>
        
        <article class="tab-content tab2">
            <form id="filtri" method="get" action="richieste-adozione" >
                <input type="hidden" name="stato" value="In valutazione">
                <ul aria-label="Filtri di ricerca">
                    <li class="capsula-filtro" role="presentation">
                        <label for="filtro-appunti">Appunti</label>
                        <select name="appunti" id="filtro-appunti">
                            <option value="" [APPUNTI_SELECTED_TUTTI]>Tutti</option>
                            <option value="1" [APPUNTI_SELECTED_SI]>Sì</option>
                            <option value="0" [APPUNTI_SELECTED_NO]>No</option>
                        </select>
                    </li>
                </ul>
                <div id="content-filter-button">
                    <button type="submit" class="orange-button">Applica</button>
                </div>
            </form>
            [contenuto-in-valutazione-richieste]
        </article>
        
        <article class="tab-content tab3">
            <form id="filtri" method="get" action="richieste-adozione" >
                <input type="hidden" name="stato" value="Da trasportare">
                <ul aria-label="Filtri di ricerca">
                    <li class="capsula-filtro" role="presentation">
                        <label for="filtro-trasporto">Trasporto</label>
                        <select name="trasporto" id="filtro-trasporto">
                            <option value="" [TRASPORTO_SELECTED_TUTTI]>Tutti</option>
                            <option value="1" [TRASPORTO_SELECTED_ORGANIZZATO]>Organizzato</option>
                            <option value="0" [TRASPORTO_SELECTED_DA_ORGANIZZARE]>Da organizzare</option>
                        </select>
                    </li>
                </ul>
                <div id="content-filter-button">
                    <button type="submit" class="orange-button">Applica</button>
                </div>
            </form>
            [contenuto-da-trasportare-richieste]
        </article>

        <article class="tab-content tab4">
            [contenuto-annullate-richieste]
        </article>

        <article class="tab-content tab5">
            [contenuto-respinte-richieste]
        </article>
    </div>
</div>